
<div class="content" id="commentaries-toc">
    {% if commentaries|length > 0 %}
        <div class='title is-3'>Sommaire</div>
        <table class='table is-hoverable'>
            <tbody>
            {% for com in commentaries %}
                <tr><td><a href='#commentary-{{com.id}}'>Commentaire {{com.type.label | lower}}</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<p class="content" id="commentaries-container">
    {% for com in commentaries %}
        <div class='commentary' id='commentary-{{com.id}}'>
            <div class='title is-5'>Commentaire {{com.type.label|lower}}</div>
            <p>{{com.content}}</p>
        </div>
    {% endfor %}
</p>