

<div class="content" id="commentaries-container">
    {% for com in commentaries %}
        <article class='commentary' id='commentary-{{com["id"]}}'>
            <header class='title is-5'>Commentaire {{com["label"]|lower}}</header>
            <p>{{com["content"]}}</p>
        </article>
    {% endfor %}
    <aside id="notes-container">
    {% for note in notes %}
    <div class="note-content" data-note-id="{{ '%010d' % note.id}}">{{note.content|safe}}</div>
    {% endfor %}
    </aside>
</div>
