{% macro liiiflet_viewer(doc_id, user_id, enable_edition, auth_token) %}

      <div id="liiiflet-map" style="height: 720px;"></div>
      <script type="text/javascript">
           const manifest_url = "{{ url_for('api_bp.api_documents_manifest_reference', api_version=1.0, doc_id=doc_id)}}";

           const liiiflet = new Liiiflet("liiiflet-map", {
               loadManifest: function() {
                   return axios.get(manifest_url, null).then(response => {
                       // unbox the JSONAPI format
                       return new Promise(resolve => resolve(response.data.data));}
                   );
               },
               loadAnnotations: function(annotation_list_url) {
                   return axios.get(annotation_list_url, null).then(response => {
                       // unbox the JSONAPI format
                       return new Promise(resolve => resolve(response.data));}
                   );
               },
               getAnnotationId: function(annotation) {
                       let zone_id;

                       try {
                           zone_id = annotation.resource["@id"].split("/");
                           zone_id = zone_id[zone_id.length - 1];
                       } catch(e) {
                           zone_id = null;
                       }

                       return zone_id;
               },
               loadDefaultAnnotationType: function() {
                   return axios.get("{{ url_for('api_bp.api_annotations_types', api_version=1.0) }}", null).then((response) => {
                       // unbox the JSONAPI format & find the "annotation" type
                       // (== not the transcription zone type but the free annotations)
                       for (let a of response.data.data) {
                           if (a.label === "annotation") {
                               return new Promise(resolve => resolve(a));
                           }
                       }
                       return new Promise(resolve => resolve(response.data.data[0]));
                   });
               },
               saveAnnotations: function(annotations) {},
               saveAnnotationAlignments: function(annotations) {},
               onDeleteAnnotation: function(zone_id) {}
           },
           {direction: "center", className: "facsimileToolTip"}, // Tooltip options
           {{enable_edition|lower}});

       </script>

{% endmacro %}
