
{% if  speech_parts|length > 0 %}
<nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul id="speech-parts-toc"></ul>
</nav>
{% endif %}

<div id="speech-parts-container">{{ transcription }}</div>

<aside id="notes-container">
{% for note in notes %}
    <div class="note-content" data-note-id="speechpart-{{loop.index0}}">{{note|safe}}</div>
{% endfor %}
</aside>


<script type="text/javascript">
    /*
        Convert speech_parts to a JS array
    */
    const speech_parts = [{% for sp in speech_parts %}
        {
            ptr_start: {{sp.ptr_start}}, ptr_end: {{sp.ptr_end}},
            speech_part_type: '{{sp.speech_part_type.label|safe}}',
            speech_part_type_id: {{sp.speech_part_type.id}},
            note: {% if not sp.note %} null {% else %} '{{sp.note|safe}}' {% endif %}
        },
    {% endfor %}];

    let container = document.getElementById('speech-parts-container');
    let tr = container.innerHTML;

    /*
        Insert speech parts TOC
    */
    let ul = document.getElementById('speech-parts-toc');
    if (ul) {
        let already_inserted = [];
        for (sp of speech_parts){
            if (already_inserted.indexOf(sp.speech_part_type_id) === -1) {
                let li = document.createElement('li');
                let a = document.createElement('a');
                a.innerText = sp.speech_part_type;
                a.setAttribute('class', 'speech-part-type-' + sp.speech_part_type_id);
                li.appendChild(a);
                ul.appendChild(li);

                already_inserted.push(sp.speech_part_type_id);
            }
        }

        let elements = ul.getElementsByTagName('a');
        for (let i in elements) {
            if (!elements.hasOwnProperty(i)) continue;
            elements[i].addEventListener( 'mouseover', function() {
                for (let sp of document.getElementsByTagName("speechpart")){
                  sp.classList.add("unselected");
                  if (sp.classList.contains(elements[i].classList.toString())) {
                      sp.classList.remove("unselected");
                  }
                }
            });
            elements[i].addEventListener( 'mouseout', function() {
                for (let sp of document.getElementsByTagName("speechpart")){
                    sp.classList.remove("unselected");
                }
            });
        }

        /*
            Insert speech parts
        */
        String.prototype.insert = function(index, content) {
           return [this.slice(0, index), content, this.slice(index)].join('');
        };

        let id = 0;
        let offset = 0;
        for (sp of speech_parts){
            const b = "<speechpart id='"+ id +"' data-note-id='speechpart-"+id+"' class='note-placeholder speech-part-type-" + sp.speech_part_type_id + "'>";
            const e = "</speechpart>";
            tr = tr.insert(sp.ptr_start + offset, b);
            tr = tr.insert(sp.ptr_end + b.length + offset, e);
            offset += b.length + e.length;
            id += 1;
        }
        container.innerHTML = tr;
    }


</script>

