{% extends 'flask_user/_public_base.html' %}

{% block content %}
    {% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

    <div class="container">

        <form action="" method="POST" class="login-form" role="form">

            <div class="message">
                {{ form.hidden_tag() }}
                <div class="message-header">{% trans %}Sign in{% endtrans %}</div>

                <div class="message-body">
                    {# Username or Email field #}
                    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
                    <div class="field">
                        <div class="columns">
                            <div class="column is-one-third">
                                <label for="{{ field.id }}" class="label">{{ field.label.text }}</label>
                            </div>
                            <div class="column auto">
                                {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
                                    <a href="{{ url_for('user.register') }}" tabindex='190'>
                                        {% trans %}New here? Register.{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {{ field(class_='input is-focused', tabindex=110) }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    <p class="help is-danger">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {# Password field #}
                    {% set field = form.password %}
                    {# Label on left, "Forgot your Password?" on right #}
                    <div class="field">
                        <div class="columns">
                            <div class="column is-one-third">
                                <label for="{{ field.id }}" class="label">{{ field.label.text }}</label>
                            </div>
                            <div class="column auto">
                                {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
                                    <a href="{{ url_for('user.forgot_password') }}" tabindex='195'>
                                        {% trans %}Forgot your Password?{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {{ field(class_='input', tabindex=120) }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    <p class="help is-danger">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="field is-grouped submit-group">
                        {# Remember me #}
                        {% if user_manager.USER_ENABLE_REMEMBER_ME %}
                            <div class="control">
                                {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
                            </div>
                        {% endif %}
                        <div class="control">
                            {# Submit button #}
                            {{ render_submit_field(form.submit, tabindex=180) }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}