{% extends 'flask_user/_public_base.html' %}

{% block content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}


    <div class="container">
        <form action="" method="POST" novalidate formnovalidate class="register-form" role="form">
            {{ form.hidden_tag() }}

            <div class="message">
                <div class="message-header">{% trans %}Register{% endtrans %}</div>
                <div class="message-body">
                    {# Username or Email #}
                    {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="{{ field.id }}" class="label">{{ field.label.text }}</label>
                        </div>
                        <div class="field-body">
                            <div>
                                {{ field(class_='input is-focused', tabindex=210) }}
                                {% if field.errors %}
                                    {% for e in field.errors %}
                                        <p class="help is-danger">{{ e }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
                        {{ render_field(form.email, tabindex=220) }}
                    {% endif %}
                    {{ render_field(form.password, tabindex=230) }}

                    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
                        {{ render_field(form.retype_password, tabindex=240) }}
                    {% endif %}
                    {{ render_submit_field(form.submit, tabindex=280) }}
                    <div>
                        {% if user_manager.USER_ENABLE_REGISTER %}
                            <a href="{{ url_for('user.login') }}" tabindex='290'>
                                {% trans %}Already registered? Sign in.{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}