<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    {% block title %}
        {% if title %}<title>{{ title }}</title>{% endif %}
    {% endblock %}
    {% block head_scripts %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/admin.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% endblock head_scripts %}
</head>
<body>


{% block hero %}
    <section class="hero is-light">
        <div class="hero-head">
            {% block navbar %}
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ url_for('app_bp.index') }}">
                            <img src="{{ url_for('app_bp.static', filename='images/logo-ecole-nationale-des-chartes-header.png') }}"
                                 alt="École Nationale des Chartes - PSL" height="30">
                        </a>

                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <a class="navbar-item breadcrumb-index" href="{{ url_for('app_bp.documents') }}">
                            <div class="title is-size-5 ">Adele</div>

                        </a>
                        {% block breadcrumb %} {% endblock %}

                    </div>

                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ url_for('app_bp.documents') }}">
                            <div class="is-size-6">Mode d'emploi</div>
                        </a>
                        <a class="navbar-item" href="{{ url_for('app_bp.documents') }}">
                            <div class="is-size-6">Contact</div>
                        </a>

                        {% if current_user and current_user.username %}
                            <div class="navbar-item has-dropdown is-active">
                                <a class="navbar-link">
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    <span>{{ current_user.username }}</span>
                                </a>
                                <div class="navbar-dropdown is-right">
                                    <a class="navbar-item" href="{{ url_for('user.edit_user_profile') }}">
                                        <span class="icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span>Profil</span>
                                    </a>
                                    <a class="navbar-item" href="{{ url_for('user.logout') }}">
                                        <span class="icon">
                                            <i class="fas fa-sign-in-alt"></i>
                                        </span>
                                        <span>Déconnexion</span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="navbar-item">
                                <div class="field">
                                    <p class="control">
                                        <a class="button is-primary" href="{{ url_for('user.login') }}">
                                            <span class="icon">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </span>
                                            <span>Connexion</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}
        </div>

    </section>
{% endblock %}

{% block flash_messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <section class="section">
                <div class="container is-fullhd">
                    <article class="message is-danger">
                        <div class="message-body">
                            <ul>
                                {% for message in messages %}
                                    <li class="alert alert-info" role="alert">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>