<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="http://www.chartes.psl.eu/favicon.ico" type="image/vnd.microsoft.icon">
    {% block title %}
        {% if title %}<title>{{ title }}</title>{% endif %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/admin.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    {% block head_scripts %}
    {% endblock head_scripts %}
</head>
<body>


{% block hero %}
    <section class="hero is-light">
        <div class="hero-head">
            {% block navbar %}
                <nav class="navbar is-light" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{{ url_for('app_bp.index') }}">
                            <img src="{{ url_for('app_bp.static', filename='images/logo-ecole-nationale-des-chartes-header.png') }}"
                                 alt="École Nationale des Chartes - PSL" height="30">
                        </a>

                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="navbar-menu">
                        <a class="navbar-item breadcrumb-index" href="{{ url_for('app_bp.documents') }}">
                            <div class="title is-size-5 ">Adele</div>
                        </a>
                        {% block breadcrumb %} {% endblock %}
                    </div>

                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ url_for('app_bp.contact') }}">
                            <div class="is-size-6">Contact</div>
                        </a>
                        {% if not current_user.is_anonymous %}
                            <div id="user-menu" class="navbar-item has-dropdown">
                                <a class="navbar-link ">
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    <span>{{ current_user.username }}</span>
                                </a>
                                <div id="user-dropdown" class="navbar-dropdown is-right">
                                    <!--
                                    <a id="profile-item" class="navbar-item"
                                       href="{{ url_for('user.edit_user_profile') }}">
                                        <span class="icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span>Profil</span>
                                    </a>
                                    -->
                                    <a id="mydocs-item" class="navbar-item"
                                       href="{{ url_for('app_bp.dashboard') }}">
                                        <span class="icon">
                                            <i class="fas fa-folder"></i>
                                        </span>
                                        <span>Tableau de bord</span>
                                    </a>
                                    {% if current_user.is_teacher or current_user.is_admin %}
                                    <a id="mydocs-item" class="navbar-item"
                                       href="{{ url_for('app_bp.dashboard_manage_users') }}">
                                        <span class="icon">
                                            <i class="fas fa-users"></i>
                                        </span>
                                        <span>Utilisateurs</span>
                                    </a>
                                    {% endif %}
                                    <a id="mydocs-item" class="navbar-item"
                                       href="{{ url_for('app_bp.dashboard_documents') }}">
                                        <span class="icon">
                                            <i class="fas fa-file-alt"></i>
                                        </span>
                                        <span>Mes documents</span>
                                    </a>
                                    <a id="logout-item" class="navbar-item" href="{{ url_for('user.logout') }}">
                                        <span class="icon">
                                            <i class="fas fa-sign-in-alt"></i>
                                        </span>
                                        <span>Déconnexion</span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="navbar-item">
                                <div class="field">
                                    <p class="control">
                                        <a class="button is-primary" href="{{ url_for('user.login') }}">
                                            <span class="icon">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </span>
                                            <span>Connexion</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}
        </div>

    </section>
{% endblock %}

{% block flash_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="message-section">
                <div class="container is-fullhd">{% for category, message in messages %}
                    <article class="message {% if category == 'success' %}is-info{% else %}is-warning{% endif %}">
                        <div class="message-body">
                            <ul>
                                <li role="alert">{{ message }}</li>
                            </ul>
                        </div>
                    </article> {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}

 {% if not current_user.is_anonymous %}
<script type="text/javascript">

    function close_user_menu() {
        const userMenu = document.getElementById('user-menu');
        const userDropdown = document.getElementById('user-dropdown');
        userDropdown.style.display = 'none';
        userMenu.classList.remove('is_active');
    }

    function toggle_user_menu() {
        const userMenu = document.getElementById('user-menu');
        const userDropdown = document.getElementById('user-dropdown');
        userDropdown.style.display = (userDropdown.style.display === 'none') ? 'block' : 'none';
        userMenu.classList.toggle('is_active');
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        document.onclick = close_user_menu;
        document.getElementById('user-dropdown').style.display = 'none';
        document.getElementById('user-menu').addEventListener('click', function (e) {
            toggle_user_menu();
            if (e) {
                e.stopPropagation();
            }
            else {
                window.event.cancelBubble = true;
            }
        });
    });
</script>
{% endif %}

{% block scripts %}
{% endblock %}

</body>
</html>