{% extends 'main/base.html' %}

{% macro nav_pages(nav_urls, current_page) %}
    <div class="level nav-pages">
        <div class="level-left">
            {% if nav_urls | length > 1 %}
                <p>Page :</p>
                <ul class="level">
                    {% for url in nav_urls %}
                        <li class="level-item">
                            <a class="button {% if loop.index != current_page %} is-white {% else %} is-light {% endif %}"
                               href="{{ url }}">
                                {{ loop.index }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="columns ">
        <div class="column is-one-quarter" id="find-col">
            <section class="section has-background-grey-light">
                <form method="POST" action="{{ url_for('app_bp.documents') }}" id='search-form'>

                    {% for field in fields %}
                        <div class="filter" id="{{ field['name'] }}">
                            <div class="accordion level">
                                <label class="label level-left" for="{{ field['name'] }}">{{ field['label'] }}</label>
                                <i class="fas fa-angle-right level-right"></i>
                            </div>
                            <div class="panel">
                                <ul>
                                    {% for label, value in field['value'] %}
                                        <li>
                                            <div class="level entry">
                                                <div class="level-left panel-item">{{ label }}</div>
                                                <input name="value" type="hidden" value="{{ value }}"/>
                                                <input name="label" type="hidden" value="{{ label }}"/>
                                                <div class="level-right">
                                                    <div class="dot {% if value|string not in selected_values[field['name']] %}is-invisible{% endif %}"></div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <input type="hidden" name="{{ field['name'] }}" value="{% for label, value in field['value'] %}{% if value|string in selected_values[field['name']] %}{{ value }},{% endif %}{% endfor %}"/>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </section>
        </div>

        <div class="column">
            <section class="section">
                <div id="tag-cloud" class="field is-grouped is-grouped-multiline"></div>
                {% if docs | length  == 0 %}
                    <div>
                        <article class="message is-info">
                            <div class="message-body">
                                <div class="alert alert-info" role="alert">Aucun résultat</div>
                            </div>
                        </article>
                    </div>
                {% else %}
                    {{ nav_pages(nav_urls, current_page) }}
                    <div class="columns is-multiline">

                        {% if docs | length >= 10 %}
                            {% set col_fmt = 3 %}
                        {% elif docs | length > 1 %}
                            {% set col_fmt = 2 %}
                        {% else %}
                            {% set col_fmt = 1 %}
                        {% endif %}

                        {% for d in docs %}
                            <div class="column {% if col_fmt == 3 %}is-one-third{% elif col_fmt == 2 %}is-half{% endif %}">
                                <div class="card">
                                    {% for img in d.images %}
                                        <div class="thumbnail-container has-background-grey-lighter">
                                            <figure class=" image thumbnail">
                                                {% if col_fmt == 3 %}
                                                    <img src="{{ img.id | replace("full/full", "full/,200") }}"/>
                                                {% elif col_fmt == 2 %}
                                                    <img src="{{ img.id | replace("full/full", "full/,300") }}"/>
                                                {% else %}
                                                    <img src="{{ img.id | replace("full/full", "full/,500") }}"/>
                                                {% endif %}
                                            </figure>
                                        </div>
                                    {% endfor %}
                                    <div class="card-content">
                                        <div class="content">
                                            <p><span class="tag is-light">Dossier {{ d.id }}</span></p>
                                            <p class="title is-6">{{ d.title }}</p>
                                            <p>
                                                <small>{{ d.subtitle }}</small>
                                            </p>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="{{ url_for("app_bp.admin_document_edit", doc_id=d.id) }}"
                                           class="card-footer-item">Editer</a>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {{ nav_pages(nav_urls, current_page) }}
                {% endif %}
            </section>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            <!-- restore the selected filters & create the tag cloud -->
            function create_tag_cloud() {
                $('#tag-cloud').empty();

                $("#search-form").find(".filter").each(function (i, e) {

                    let selected_labels = [];
                    $(this).find('.entry').each(function () {
                        // an entry is selected if the dot if visible
                        if (!$(this).find('.dot').hasClass('is-invisible')) {
                            selected_labels.push($(this).find('input[name="label"]').val());
                        }
                    });

                    if (selected_labels.length > 0) {
                        let field_label = $(this).find('label').text();
                        let tags = "";
                        for (const entry_label of selected_labels) {
                            tags += ('<span class="tag is-light">' + entry_label + '</span><a class="tag is-delete"></a>');
                        }
                        const tag_control = '\
                    <div class="control">\
                        <div class="tags has-addons">\
                            <span class="tag is-danger">' + field_label + '</span>\
                            ' + tags + '\
                        </div>\
                    </div>';

                        $('#tag-cloud').append(tag_control);
                    }
                });
            }

            function populate_find_form() {
                $("#search-form").find(".filter").each(function (i, e) {
                    let selected_values = [];
                    $(this).find('.entry').each(function () {
                        // an entry is selected if the dot if visible
                        if (!$(this).find('.dot').hasClass('is-invisible')) {
                            selected_values.push($(this).find('input[name="value"]').val());
                        }
                    });
                    // populate the hidden form input
                    const input = $(this).find('input[name="' + $(this).prop("id") + '"]');
                    $(input).val(selected_values.join(','));
                });
            }

            <!-- accordion -->
            $('div .accordion').each(function () {
                $(this).click(function () {
                    // head
                    $(this).toggleClass("active");
                    $(this).find('.level-right').toggleClass('fa-angle-down').toggleClass('fa-angle-right');

                    // toggle entries display
                    let panel = $(this).next('.panel');
                    if ($(panel).css('display') === 'block') {
                        $(panel).css('display', 'none')
                    } else {
                        $(panel).css('display', 'block')
                    }

                    // entries click
                    $(panel).find(".entry").click(function () {
                        $(this).find('.dot').toggleClass("is-invisible");
                        populate_find_form();
                        $('#search-form').submit();
                    });
                });
            });


            create_tag_cloud();
            populate_find_form();
        });
    </script>
{% endblock %}