{% extends 'main/base.html' %}

{% from 'main/fragments/document_view/_liiiflet_viewer.html' import liiiflet_viewer %}

{% block head_scripts %}
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('app_bp.static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('app_bp.static', filename='js/liiiflet.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('app_bp.static', filename='css/liiiflet.css')}}"/>


{% endblock head_scripts %}

{% block content %}
    <section class="section">
        <div class="view-container is-fullhd">
            <div class="tags visibility-tags">
                <span class="tag is-light">Dossier {{ doc.id }}</span>

                <span class="tag">
                    <a id="visibility-image" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>image</a>
                    <a id="visibility-notice" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>notice</a>
                    <a id="visibility-transcription" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>transcription</a>
                    <a id="visibility-translation" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>traduction</a>
                    <a id="visibility-commentaries" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>commentaires</a>
                    <a id="visibility-speech-parts" class="visibility-tag"><span><i class="fas fa-eye active"></i><i class="fas fa-eye-slash inactive" style="display:none"></i></span>parties du discours</a>
                </span>
            </div>

            <div class="columns">
                <div class="column is-5" id="img-col">
                    {% if doc.images|length > 0 %}
                    <figure class="image">
                        <!-- <img src="http://193.48.42.68/loris/adele/dossiers/{{ doc.id }}.jpg/full/full/0/default.jpg" /> -->
                        {{ liiiflet_viewer(doc.id, doc.user_id, false, auth_token) }}
                    </figure>
                    <div id="iiif-map"></div>
                    {% else %}
                    <div class="box empty-image">
                        <div class="empty-thumbnail"><i class="fas fa-file-alt"></i></div>
                    </div>
                    {% endif %}
                </div>
                <div class="column" id="text-col">
                    <div class="tabs">
                        <ul>
                        {% if can_edit %}
                        <li><a class="button tag is-primary edit-document" href="{{url_for('app_bp.document_edit', doc_id=doc.id)}}"><i class="fas fa-edit"></i><p>Éditer</p></a></li>
                        {% endif %}
                        <li class="tab is-active"><input type="hidden" value="tab-notice"/><a>Notice</a></li>
                        <li class="tab"><input type="hidden" value="tab-transcription"/><a>Transcription</a></li>
                        <li class="tab"><input type="hidden" value="tab-commentaries"/><a>Commentaires</a></li>
                        <li class="tab"><input type="hidden" value="tab-speech-parts"/><a>Parties du discours</a></li>
                        </ul>
                    </div>
                    <div class="tab-content" id="tab-notice"></div>
                    <div class="tab-content" id="tab-transcription"></div>
                    <div class="tab-content" id="tab-commentaries"></div>
                    <div class="tab-content" id="tab-speech-parts"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block breadcrumb %}
    <div class="navbar-item breadcrumb-arrow">
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="navbar-item"><a class="is-text">{{ doc.title }}</a> </div>
{% endblock %}

{% block scripts %}
   <script type="text/javascript">
       $(document).ready(function () {

           function load_notice_tab(){
               let url = "{{ url_for('app_bp.view_document_notice',  doc_id='DOC_ID_PLACEHOLDER') }}";
               url = url.replace('DOC_ID_PLACEHOLDER', {{doc.id}});
               return $.ajax({ url: url }).done(
                   function (data) {
                       $('#tab-notice').html(data);
                   }
               );
           }

           function load_transcription_tab(){
               let url = "{{ url_for('app_bp.view_document_transcription_alignment', doc_id='DOC_ID_PLACEHOLDER') }}";
               url = url.replace('DOC_ID_PLACEHOLDER', {{doc.id}});
               return $.ajax({
                   url: url
               }).done(function (data) {
                    $('#tab-transcription').html(data);
                    $('#transcription-container').css('display', 'none');
                    $('#translation-container').css('display', 'none');

               });
           }

           function load_commentaries_tab(){
               let url = "{{ url_for('app_bp.view_document_commentaries',  doc_id='DOC_ID_PLACEHOLDER') }}";
               url = url.replace('DOC_ID_PLACEHOLDER', {{doc.id}});
               return $.ajax({ url: url }).done(
                   function (data) {
                       $('#tab-commentaries').html(data);
                   }
               );
           }

           function load_speech_parts_tab(){
               let url = "{{ url_for('app_bp.view_document_speech_parts',  doc_id='DOC_ID_PLACEHOLDER') }}";
               url = url.replace('DOC_ID_PLACEHOLDER', {{doc.id}});
               return $.ajax({ url: url }).done(
                   function (data) {
                       $('#tab-speech-parts').html(data);
                   }
               );
           }

           /*
                Tab managment
           */
           function go_to_tab(tab_id) {
               $('.tab-content').hide();
               $('#' + tab_id).show();

               $('#visibility-notice').hide();
               $('#visibility-transcription').hide();
               $('#visibility-translation').hide();
               $('#visibility-commentaries').hide();
               $('#visibility-speech-parts').hide();

               switch (tab_id) {
                   case 'tab-notice':
                       $('#visibility-notice').show();
                       break;
                   case 'tab-transcription':
                       $('#visibility-transcription').show();
                       $('#visibility-translation').show();
                       break;
                   case 'tab-commentaries':
                       $('#visibility-commentaries').show();
                       break;
                   case 'tab-speech-parts':
                       $('#visibility-speech-parts').show();
                       break;
               }
           }

           $('.tab').click(function() {
               const tab_id = $(this).find('input[type="hidden"]').val();
               go_to_tab(tab_id);
               $('.tab.is-active').removeClass('is-active');
               $(this).addClass('is-active');
           });

           /*
                Load data & select the notice tab;
           */
            new Promise(function(resolve, reject) {
                 resolve(load_notice_tab()
                    .then(() => load_transcription_tab())
                    .then(() => load_commentaries_tab())
                    .then(() => load_speech_parts_tab()))
            }).then(function() {
                 /* style notes */
                 for(const notePlaceHolder of document.getElementsByClassName("note-placeholder"))  {
                     const noteId = notePlaceHolder.dataset.noteId;
                     const noteContent = document.querySelector(".note-content[data-note-id='"+noteId+"']");
                     tippy(notePlaceHolder, {
                         content: noteContent.textContent,
                         arrow: true,
                         arrowType: 'round',
                         size: 'large',
                         duration: 200,
                         animation: 'scale',
                         allowHTML: true,
                         theme: 'dark',
                         placement: 'right'
                     });

                 }
            });

            go_to_tab('tab-notice');


           /*
                set up visibility filters
           */

           // recompute the liiiflet map size after it changed
           function toggleLiiifletFullscreen(t){
               // show/hide liiiflet/text columns
               $(t).find('.active,.inactive').toggle();
               liiiflet.map.invalidateSize(true);
               //liiiflet.setAnnotations();
           }

           function toggleTextCol(t) {
               if ($('#text-col').css('display') === 'none'){
                   $('#text-col').show();
                   $('#img-col').addClass('is-5');
               }
               else {
                   $('#text-col').hide();
                   $('#img-col').removeClass('is-5');
               }
               $(t).find('.active,.inactive').toggle();


               toggleLiiifletFullscreen(this);
           }

           $('#visibility-image').click(function(){
               if ($('#img-col').css('display') === 'none'){
                   $('#img-col').show();
               }
               else {
                   $('#img-col').hide();
               }
               $(this).find('.active,.inactive').toggle();
           });
           $('#visibility-notice').click(function(){toggleTextCol(this)});
           $('#visibility-commentaries').click(function(){toggleTextCol(this)});
           $('#visibility-speech-parts').click(function(){toggleTextCol(this)});
           $('#visibility-transcription').click(function(){
               if ($('#transcription-container').css('display') === 'none'){
                   if ($('#translation-container').css('display') === 'block'){
                       $('#transcription-alignment-container').show();
                       $('#translation-container').hide();
                   }
                   else {
                       if ($('#text-col').css('display') === 'block') {
                           $('#translation-container').show();
                       }
                       else {
                         $('#transcription-container').show();
                       }
                       $('#transcription-alignment-container').hide();
                   }
                   $('#img-col').addClass('is-5');
               }
               else {
                  $('#transcription-container').hide();
               }

               if ($('#transcription-container').css('display') === 'none'
                    && $('#translation-container').css('display') === 'none'
                    && $('#transcription-alignment-container').css('display') === 'none'){
                 $('#text-col').hide();
                 $('#img-col').removeClass('is-5');
               } else {
                 $('#text-col').show();
               }

               toggleLiiifletFullscreen(this);
           });

           $('#visibility-translation').click(function(){
               if ($('#translation-container').css('display') === 'none'){
                   if ($('#transcription-container').css('display') === 'block'){
                       $('#transcription-alignment-container').show();
                       $('#transcription-container').hide();
                   }
                   else {
                       if ($('#text-col').css('display') === 'block') {
                           $('#transcription-container').show();
                       } else {
                           $('#translation-container').show();
                       }
                       $('#transcription-alignment-container').hide();
                   }
                   $('#img-col').addClass('is-5');
               }
               else {
                  $('#translation-container').hide();
               }

               if ($('#transcription-container').css('display') === 'none'
                    && $('#translation-container').css('display') === 'none'
                    && $('#transcription-alignment-container').css('display') === 'none'){
                 $('#text-col').hide();
                 $('#img-col').removeClass('is-5')
               } else {
                 $('#text-col').show();
               }

               toggleLiiifletFullscreen(this);
           });

       });
   </script>
{% endblock %}