{% extends 'main/base.html' %}


{% block head_scripts %}
      <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
      <link rel="stylesheet" href="{{url_for('app_bp.static', filename='css/liiiflet.css')}}"/>
{% endblock head_scripts %}

{% block breadcrumb %}
    <div class="navbar-item breadcrumb-arrow">
        <i class="fas fa-angle-right"></i>
    </div>
    <div class="navbar-item"><a class="is-text">{{ doc.title }}</a> </div>

{% endblock %}

{% block content %}

    <section class="section edition-section">

        <div id="app" data-document-id="{{ doc.id }}" data-auth-token="{{ auth_token }}"></div>
    </section>
{% endblock content %}



{% block scripts %}
    <script src="{{url_for('app_bp.static', filename='js/build.js') }}"></script>
{% endblock %}
