{% extends 'main/base.html' %}

{% block content %}

    <section class="section">
        <div class="container is-fullhd">
            <div class="columns">
                <div class="column">
                    <figure class="image">
                        <img src="http://193.48.42.68/loris/adele/dossiers/{{ doc.id }}.jpg/full/full/0/default.jpg" />
                    </figure>
                </div>
                <div class="column">
                    <div class="content">
                        <p>
                            <span class="tag is-light">Dossier {{ doc.id }}</span>
                            <span class="tag is-light">Créé le {{ doc.date_insert }}</span>
                            <span class="tag is-light">Dern. modif. le {{ doc.date_update }}</span>
                        </p>
                        <p class="title is-3">{{ doc.title }}</p>
                        <p>{{ doc.subtitle }}</p>
                    </div>

                    <hr>

                    <p class="title is-4">Métadonnées</p>
                    {% if doc.creation_lab %}
                    <p><strong>creation_lab : </strong>{{ doc.creation_lab }}</p>
                    {% endif %}
                    {% if doc.copy_year %}
                    <p><strong>copy_year : </strong>{{ doc.copy_year }}</p>
                    {% endif %}
                    {% if doc.copy_cent %}
                    <p><strong>copy_cent : </strong>{{ doc.copy_cent }}</p>
                    {% endif %}
                    {% if doc.institution %}
                    <p><strong>Institution : </strong><a href="{{ doc.institution.ref }}" target="_blank">{{ doc.institution.name }}</a></p>
                    {% endif %}
                    {% if doc.pressmark %}
                    <p><strong>pressmark : </strong>{{ doc.pressmark }}</p>
                    {% endif %}
                    {% if doc.argument %}
                    <p><strong>argument : </strong>{{ doc.argument|safe }}</p>
                    {% endif %}
                    <p>&nbsp;</p>

                    <p class="title is-6">Liaisons</p>

                    <div>
                        <p><strong>Type d'acte :</strong></p>
                        <ul>
                            {% for acte_type in doc.acte_types %}
                            <li>{{ acte_type.label }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>Traditions :</strong></p>
                        <ul>
                            {% for tradition in doc.traditions %}
                            <li>{{ tradition.label }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>Pays :</strong></p>
                        <ul>
                            {% for country in doc.countries %}
                            <li><a href="{{ country.ref }}" target="_blank">{{ country.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>District(s) :</strong></p>
                        <ul>
                            {% for district in doc.districts %}
                            <li>{{ district.label }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>Langages :</strong></p>
                        <ul>
                            {% for lang in doc.languages %}
                            <li>{{ lang.label }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>Editeurs :</strong></p>
                        <ul>
                            {% for editor in doc.editors %}
                            <li>{{ editor.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><strong>Transcriptions :</strong> {{ doc.transcription_id_collection|length }}</p>
                        <p><strong>Traductions :</strong> {{ doc.translation_id_collection|length }}</p>
                        <p><strong>Commentaires :</strong> {{ doc.commentary_id_collection|length }}</p>
                    </div>
                    <div>
                        <p><strong>Documents liés :</strong></p>
                        <ul>
                            {% for linked_doc in doc.document_linked_id_collection %}
                            <li><a href="{{ url_for("app_bp.admin_document", doc_id=d.id) }}">{{ linked_doc.id }} {{ linked_doc.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <p><a href="#" class="button is-light">Editer les métadonnées</a></p>

                    <hr>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}