{% extends 'main/base.html' %}


{% block content %}
    <div class="columns ">
        <div class="column is-one-quarter" id="find-col">
            <section class="section has-background-grey-light">
                <form method="POST" action="{{ url_for('app_bp.documents') }}" id='search-form'>
                    <input type="hidden" name="page" id="page" value="{{ current_page }}"/>
                    {% for field in fields %}
                        <div class="filter" id="{{ field['name'] }}">
                            <div class="accordion level">
                                <label class="label level-left" for="{{ field['name'] }}">{{ field['label'] }}</label>
                                <i class="fas fa-angle-right level-right"></i>
                            </div>
                            <div class="panel">
                                <ul>
                                    {% for label, value in field['value'] %}
                                        <li>
                                            <div class="level entry" id="{{ field['name'] }}__{{ value }}">
                                                <div class="level-left panel-item">{{ label }}</div>
                                                <input name="value" type="hidden" value="{{ value }}"/>
                                                <input name="label" type="hidden" value="{{ label }}"/>
                                                <div class="level-right">
                                                    <div class="dot is-invisible"></div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <input type="hidden" name="{{ field['name'] }}"/>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </section>
        </div>

        <div class="column" id="documents-col"></div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            <!-- restore the selected filters & create the tag cloud -->
            function create_tag_cloud() {
                $('#tag-cloud').empty();
                $("#search-form").find(".filter").each(function (i, e) {

                    let selected_entries = [];
                    $(this).find('.entry').each(function () {
                        // an entry is selected if the dot if visible
                        if (!$(this).find('.dot').hasClass('is-invisible')) {
                            selected_entries.push({
                                label: $(this).find('input[name="label"]').val(),
                                id: $(this).prop('id')
                            });
                        }
                    });

                    if (selected_entries.length > 0) {
                        let field_label = $(this).find('label').text();
                        let field_id = $(this).prop('id');
                        let tags = "";
                        // prepare the entry list
                        for (const entry of selected_entries) {
                            tags += ('<span class="tag is-light" id="' + entry.id + '">' + entry.label + '</span><a class="tag is-delete is-delete-entry"></a>');
                        }
                        // build the tag list
                        const tag_control = '\
                    <div class="control">\
                        <div class="tags has-addons">\
                            <span class="tag is-danger" id="' + field_id + '">' + field_label + '</span><a class="tag is-delete is-danger is-delete-panel"></a>\
                            ' + tags + '\
                        </div>\
                    </div>';

                        $('#tag-cloud').append(tag_control);
                    }
                });

                $('.is-delete-entry').click(function () {
                    // simulate a click into the search form
                    $('#' + $(this).prev('.tag').prop('id')).click();
                });

                $('.is-delete-panel').click(function () {
                    // deselect all the entries
                    $('#' + $(this).prev('.tag').prop('id')).find('div.dot').not('.is-invisible').addClass('is-invisible');
                    // update the hidden inputs
                    populate_find_form();
                    submit_async();
                });
            }

            function populate_find_form() {
                $("#search-form").find(".filter").each(function (i, e) {
                    let selected_values = [];
                    $(this).find('.entry').each(function () {
                        // an entry is selected if the dot if visible
                        if (!$(this).find('.dot').hasClass('is-invisible')) {
                            selected_values.push($(this).find('input[name="value"]').val());
                        }
                    });
                    // populate the hidden form input
                    const input = $(this).find('input[name="' + $(this).prop("id") + '"]');
                    $(input).val(selected_values.join(','));
                });
            }

            function submit_async() {
                $.ajax({
                    url: "{{  url_for("app_bp.document_list") }}",
                    method: 'POST',
                    data: $("#search-form").serialize(),
                    context: document.body
                }).done(function (data) {
                    $("#documents-col").html(data);
                    create_tag_cloud();

                    $('.pagination-btn').click(function () {
                        $('#page').val($(this).text());
                        submit_async();
                    });

                });
            }

            <!-- accordion -->
            $('div .accordion').each(function () {
                $(this).click(function () {
                    // panel head
                    $(this).toggleClass("active");
                    $(this).find('.level-right').toggleClass('fa-angle-down').toggleClass('fa-angle-right');

                    // toggle entries panel display
                    let panel = $(this).next('.panel');
                    if ($(panel).css('display') === 'block') {
                        $(panel).css('display', 'none')
                    } else {
                        $(panel).css('display', 'block')
                    }

                    // entries click
                    $(panel).find(".entry").click(function () {
                        $(this).find('.dot').toggleClass("is-invisible");
                        populate_find_form();
                        submit_async();
                    });
                });
            });


            submit_async();
        });
    </script>
{% endblock %}