.save-bar {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   box-sizing: border-box;
   padding: 1em 0 2em 0;
   background: rgba(255,255,255, .8);
   text-align: center;
   z-index: 1;
 }
.save-bar__container {
   max-width: 33.33%;
}

.save-bar__message, .save-bar__working, .save-bar__error {
   border-color: transparent;
}