
#user-management {
  margin-top: 32px;

  .user-messages {
    height: 30px;
    margin-left: 12px;
  }

  #empty-tile {
    height: 170px;
  }

  .arrow-btn {
    width: 40px !important;
    height: 60px !important;
    margin-left: 43% !important;
  }

  #field-add-userlist {
    margin-left: 20px;
  }

  .delete-btn {
    margin-top: 12px;
  }

  .user-row:hover {
    cursor: pointer;
  }

  .field:not(:last-child)  {

      margin-bottom: 0;
  }
}

#document-list-table {

  margin-top: 32px;

  .fa-sort-down {
    margin-left: 8px;
    margin-bottom: 2px;
  }
  .fa-sort-up {
    margin-left: 8px;
    margin-bottom: -5px;
  }

  th:hover {
    cursor: pointer;
  }
  td {
    vertical-align: middle;
  }
  .checkbox{
    margin: 30% !important;
    top: 3px;
  }
  .date-picker {
    width: 180px;
  }
  .edit-manifest-info {
    margin-right: 20px;
  }
}

#add-document-form {
  width: 100%;
  input {
    width: 420px;
  }
  #import-manifest {
    width: 250px;
    margin-top: 0px;
  }
}

#modal-manifest-validation {
  .modal-card {
    width: 50%;
    min-height: 600px;
  }

  #manifest-url, #input-manifest-filename {
    width: 480px;
  }

  .info, .map, .errors {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #manifest-preview {
    width: 300px;
    margin: auto;

    p {
      text-align: center;
    }
  }
}
