
#user-management {
  margin-top: 32px;

  .user-messages {
    height: 30px;
    margin-left: 12px;
  }

  #empty-tile {
    height: 140px;
  }

  .arrow-btn {
    width: 40px !important;
    height: 60px !important;
    margin-left: 43% !important;
  }

  #field-add-userlist {
    margin-left: 20px;
  }

  .delete-btn {
    margin-top: 12px;
  }

  .user-row:hover {
    cursor: pointer;
  }
}

#document-list-table {
  td {
    vertical-align: middle;
  }
  .checkbox{
    margin: 40% 30% !important;
  }
  .date-picker {
    width: 180px;
  }
  .pick-manifest {
    margin-right: 20px;
  }
}
