
.thumbnail-container {
    width: auto;
}

.thumbnail img {
  margin: auto;
  padding: 16px;
  width: auto;
}

select {
  width: 380px;
}

.nav-pages ul {
  margin-left: 20px;
}

.find-btn-group {
  margin-top: 30px;
}

