* {
  box-sizing: border-box;
}

@mixin segment {
  background: cornflowerblue;
  border-radius: 50%;
  color: #fff;
  counter-increment: segment-count;
  content: counter(segment-count);
  font-size: 70%;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: .8;
  text-align: center;
  padding-top: 0.7em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal {
    z-index: 1001;
}

.wrapper { position: relative; }
.quill-editor {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #eee;
  max-height: 80vh;
  overflow: scroll;
}
.editor-controls {
  display: flex;
  flex-wrap: wrap;
  hr {
    margin: .5em 0;
  }

  button {
    font-weight: bold;
    margin: .125em 0;
    &:active, &:focus {
      outline: none;
    }
  }
}
.editor-controls-group {
  margin-right: 2em;
  margin-bottom: .5em;
  &:last-child {
    margin-right: 0;
  }
  label {
    display: block;
    font-size: 60%;
    font-variant: small-caps;
  }
}
.editor-container {
    position: relative;
}
#editor-container {
  .ql-editor {
    min-height: 100%;
    height: inherit;
    overflow-y: inherit;

    & > * {
      margin-top: 1.5em;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

/* Contenu de la zone editable */

.ql-editor {

  line-height: 1.8;
  counter-reset: segment-count 1;

  &:focus {
    outline: none;
  }
  p {
    margin: 0.75em 0;
  }
  ul {
    padding-left: 2em;
  }
  li {
    list-style: disc outside;
  }
  blockquote {
    padding-left: 1em;
    border-left: #cccccc solid 1px;
  }
  section {
    border: 1px dotted #cccccc;
  }
}
.ql-clipboard { display: none; }

/* tags custom */

abbr, ex {
  /*&:before { content: '('}
  &:after { content: ')'}*/
  color: #999;
  &:hover {
    color: #000;
  }
}
smallcaps {
  font-variant: small-caps;
}
speechpart {
  border-bottom: 2px solid ;

  &:nth-child(8n) {
    border-color: #d6cbd3;
  }
  &:nth-child(8n+1) {
     border-color: #eca1a6;
  }
  &:nth-child(8n+2) {
     border-color: #bdcebe;
  }
  &:nth-child(8n+3) {
     border-color: #ada397;
  }
  &:nth-child(8n+4) {
     border-color: #f7cac9;
  }
    &:nth-child(8n+5) {
     border-color: #dac292;
  }
    &:nth-child(8n+6) {
     border-color: #b5e7a0;
  }
    &:nth-child(8n+7) {
     border-color:  #b9936c;
  }

  &.unselected{
    border: none;
    background-color: inherit;
  }
}

zone {
  border-bottom: 2px solid;

  &:nth-child(2n) {
    border-color: #b5e7a0;
  }
  &:nth-child(2n+1) {
    border-color: #eca1a6;
  }
  &.unselected{
    border: none;
    background-color: inherit;
  }
}

#speech-parts-toc {
  margin-bottom: 20px;
}

/* tags custom : segments and line breaks */
.ql-editor {
  counter-reset: segment-count 0;
  segment {
    display: inline-block;
  }
  p, l, .segment-bullet, segment {
    &:before {
      display: inline-block;
    }
  }
  span.br {
    display: block;
  }
}

#transcription-editor, #translation-editor {
  segment, p, l, .segment-bullet {
    &:before {
      @include segment;
    }
  }
  segment:before {
      margin: 0 .5em;
  }
  p, l, .segment-bullet {
    &:before {
      margin: 0 .5em 0 0;
    }
  }
}


l {
  font-family: Georgia, Times New Roman, serif;
}
note {
    text-decoration: underline;
}

.in-editor-actions, .note-actions, .speechpart-actions, .new-speechpart-actions {
  z-index: 1000;
  position: absolute;
  transform: translateX(-50%);
  background: #fff;
  padding: .5em;
  box-shadow: rgba(0,0,0,.3) 2px 3px 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);
    background: #fff;
    z-index: -1;
  }

}
.note-actions, .new-note-actions,.speechpart-actions, .new-speechpart-actions {
    .button { width: 100%; }
}


.notes-list-item, .list-item {

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: .75rem;
    border: 1px solid transparent;

    .content { font-size: 60% }
    &.selected, &:hover, &:focus {
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px #23d160;
        border-color: #23d160;
    }
    &:not(:last-child) {
        margin-bottom: .75rem;
    }
}
.list-subsection-title {
  margin: 2em 0 1em 0;
  font-weight: bold;
}