.iiif-map {
  min-height: 500px;
  background: #333;
}

.navbar-item {
  padding-left: 20px;
  padding-right: 20px;
}

.breadcrumb-arrow {
  padding: 6px;
}

.breadcrumb-index {
  padding-bottom: 12px;
}

#user-menu a {
  width: 200px;
}

.message-section  {
  ul {
    list-style-type: none !important;
    margin: 0 !important;
  }
  margin: 1.1rem 1.5rem;
}

#user-messages {
  p {
    .control {
          margin-bottom: 0px;
    }
  }
  .message-body {
    padding: 0.4em 1.5em;
  }
}