.iiif-map {
  min-height: 500px;
  background: #333;
}

.navbar-item {
  padding-left: 20px;
  padding-right: 20px;
}

.breadcrumb-arrow {
  padding: 6px;
}

.breadcrumb-index {
  padding-bottom: 12px;
}

#user-menu a {
  width: 200px;
}

.message-section  {
  ul {
    list-style-type: none !important;
    margin: 0 !important;
  }
  margin: 1.1rem 1.5rem;
}

#user-messages {
  p {
    .control {
          margin-bottom: 0px;
    }
  }
  .message-body {
    padding: 0.4em 1.5em;
  }
}

.visibility-tags {
   margin-bottom: 0px !important;
  span {
    p {
      padding-right: 6px;
    }
    a {
      padding: 3px;
      span {
        padding: 3px;
      }
    }
  }
}

#commentaries-toc {
  width: 50%;
  tr:hover {
    cursor: pointer;
  }
  margin-bottom: 50px;
}

.commentary {
  margin-top: 12px;
  margin-bottom: 24px;
  p {
    padding-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
  }
}