
.leaflet-iiifmap-toolbar {
  background-image: url('/adele/static/images/spritesheet.svg');
  background-size: 300px 30px !important;
}

.leaflet-iiifmap-toolbar-polygon {
  background-position: -30px 0px !important;
}

.leaflet-iiifmap-toolbar-rectangle {
  background-position: -60px 0px !important;
}

.leaflet-iiifmap-toolbar-circle {
  background-position: -90px 0px !important;
}

.erasing-enabled {
  color : red !important;
}

.erasing-disabled {
  color : inherit !important;
}


#facsimile-pagination-control {
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
  margin: 0;
}



.facsimile-pagination {

  position: relative;
  white-space: nowrap;
  margin: 0.5em 0 1em 0;

  .iiif-thumbnail {
    margin: 0 0.5em;
    position: relative;
    display: inline-block;
    height: 80px;
    img {
      max-width: none;
      max-height: 100%;
      width: auto;
    }
    &:first-child {
      margin-left: 1em;
    }
    &:last-child {
      margin-right: 1em;
    }
  }

}

.leaflet-control-attribution {
  display: none;
}

.leaflet-left.leaflet-bottom {
  width: 100% ;
  background-color: rgba(5, 5, 5 , 0.3);
}