
.leaflet-iiifmap-toolbar {
  background-image: url('/adele/static/images/spritesheet.svg');
  background-size: 300px 30px !important;
}

.leaflet-iiifmap-toolbar-polygon {
  background-position: -30px 0px !important;
}

.leaflet-iiifmap-toolbar-rectangle {
  background-position: -60px 0px !important;
}

.leaflet-iiifmap-toolbar-circle {
  background-position: -90px 0px !important;
}

.erasing-enabled {
  color : red !important;
}

.erasing-disabled {
  color : inherit !important;
}


#facsimile-pagination-control {
overflow: auto;
overflow-y: hidden;

}
.facsimile-pagination {


  .column {
    padding: 0.25em;
    width: 80px;
    flex-basis: initial;
    flex-grow: initial;
    flex-shrink: initial;
  }

}

.leaflet-control-attribution {
  display: none;
}

.leaflet-left.leaflet-bottom {
  //width: 100% ;
  background-color: rgba(5, 5, 5 , 0.3);
}