{% extends 'main/base.html' %}

{% block content %}

    <section class="section">
        <div class="container is-fluid">
            <div class="content">
                <div>

                    <div class="section">
                        <h1>Mes documents </h1>

                        <a class="button" style="margin-top: 20px; margin-bottom: 20px;">
                            <span class="icon"><i class="fas fa-plus-square"></i> </span>
                            <span>Nouveau document</span>
                        </a>
                        <p>
                            Les documents publiés sont visibles par le grand public, tandis que ceux qui sont non publiés ne sont accessibles que par les personnes autorisées.
                        </p>
                        {% from 'main/fragments/_document_management_list.html' import document_list %}
                        {{  document_list(docs, current_user) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}


{% block scripts %}
    <script src="{{ url_for('app_bp.static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='css/pikaday.css') }}">
    <script defer src="{{ url_for('app_bp.static', filename='js/pikaday.js') }}"></script>
     <script src="{{ url_for('app_bp.static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            $("#document-list tr").click(function () {
                const target = $(this).find("input");
                if (target.length > 0) {
                    window.location.href = $(target).val();
                }
            });
            */
            $('#document-list-table th:nth-child(1)').click(function() {
               sortTable("document-list-table", 0);
            });

            $('#document-list-table th:nth-child(2)').click(function() {
               sortTable("document-list-table", 1);
            });

            $('#document-list-table th:nth-child(3)').click(function() {
               sortTable("document-list-table", 2);
            });

            $('#document-list-table th:nth-child(4)').click(function() {
               sortTable("document-list-table", 3);
            });

            const datepickers = [];
            $('.date-picker').each(function() {
                datepickers.push(
                    new Pikaday(
                    {
                        field: $(this)[0],
                        firstDay: 1,
                        format: 'DD/MM/YYYY',
                        i18n: {
                            previousMonth : 'Mois précédent',
                            nextMonth     : 'Mois Suivant',
                            months        : ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet',
                                             'Août','Septembre','Octobre','Novembre','Decembre'],
                            weekdays      : ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                            weekdaysShort : ['Dim', 'Lun','Mar','Mer','Jeu','Ven','Sam']
                        },
                        minDate: new Date(),
                        maxDate: new Date(2030, 12, 31),
                        yearRange: [2018,2030]
                    })
                );
            });


        });
    </script>
{% endblock scripts %}