{% extends 'main/base.html' %}

{% block flash_messages %}
{% endblock %}

{% block content %}

{% from "flask_user/_macros.html" import render_field, render_submit_field %}

    <section class="section">
        <div class="container is-fluid">
            <div class="content">
                <h1>Gestion des utilisateurs</h1>

                <div class="section">
                    <h2>Gestion des utilisateurs et des liste d'utilisateurs</h2>
                    <p>Créez des utilisateurs pour ensuite les assigner à une liste.</p>

                    <div id="user-management">
                        <div class="columns is-5">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field has-addons">
                                            <p class="control">
                                                <a id="invite-user" class="button is-primary">
                                                      Inviter un utilisateur
                                                </a>
                                            </p>
                                            <p class="control">
                                                {{ invite_form.csrf_token }}
                                                <input id="new-user-email" class="input" type="text" placeholder="john.doe@chartes.psl.eu">
                                            </p>
                                    </div>
                                    <div class="field user-messages">
                                            <div id="user-messages"></div>
                                    </div>
                                </div>

                                 <!-- filled through ajax calls -->
                                <div id="users-table-container"></div>
                                <div class="field is-pulled-right">
                                        <p class="control">
                                            <a id="del-user" class="button is-danger delete-btn">
                                              Désactiver le compte de l'utilisateur
                                            </a>
                                        </p>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="tile is-ancestor">
                                    <div class="tile is-parent is-vertical">
                                        <div class="tile">
                                            <div id="empty-tile"></div>
                                        </div>
                                        <div class="tile is-child">
                                            <div class="button is-primary arrow-btn" id="right-arrow">
                                                <i class="fas fa-arrow-right" ></i>
                                            </div>
                                        </div>
                                        <div class="tile is-child">
                                            <div class="button is-primary arrow-btn" id="left-arrow">
                                                <i class="fas fa-arrow-left" ></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-5">
                                <div class="field is-horizontal">
                                    <div class="field has-addons">
                                            <p class="control">
                                                <a class="button is-static">
                                                  Listes existantes
                                                </a>
                                            </p>
                                            <p class="control">
                                              <div class="select">
                                                <select id="select-userlist" class="select-userlist">
                                                  {% for user_list in user_lists %}
                                                  <option value="{{ user_list.id }}">{{ user_list.label }}</option>
                                                  {% endfor %}
                                                </select>
                                              </div>
                                            </p>
                                    </div>
                                    <div class="field has-addons" id="field-add-userlist">
                                            <p class="control">
                                                <a class="button is-primary" id="add-userlist">
                                                      Créer une liste
                                                </a>
                                            </p>
                                            <p class="control">
                                                <input id="new-userlist-name" class="input" type="text" placeholder="Ex: 'Master 2: 2019'">
                                            </p>
                                    </div>

                                </div>
                                <!-- filled through ajax calls -->
                                <div id="userlist-table-container"></div>
                                <div class="field is-pulled-right">
                                    <p class="control">
                                         <a id="delete-userlist" class="button is-danger delete-btn">
                                            Supprimer la liste
                                        </a>
                                    </p>
                                    <div id="modal-confirm-userlist-delete" class="modal">
                                      <div class="modal-background close-confirm-userlist-delete"></div>
                                      <div class="modal-card">
                                        <header class="modal-card-head">
                                          <p class="modal-card-title">Suppression d'une liste d'utilisateurs</p>
                                          <button class="delete close-confirm-userlist-delete" aria-label="close" ></button>
                                        </header>
                                        <section class="modal-card-body">
                                          <h2>Attention</h2>
                                          <p>Vous êtes sur le point du supprimer la liste d'utilisateurs '<b id="modal-selected-userlist-name"></b>'</p>
                                          <div id="userlist-bound-docs">
                                            <p>Les documents suivants utilisent cette liste d'utilisateurs :</p>
                                            <ul id="userlist-bound-docs-list"></ul>
                                          </div>
                                        </section>
                                        <footer class="modal-card-foot">
                                          <button id="confirm-userlist-delete" class="button is-danger">Confirmer la suppression</button>
                                          <button class="button close-confirm-userlist-delete">Annuler</button>
                                        </footer>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section">
                   <h2>Assigner les listes d'utilisateur aux documents</h2>
                   <p>Affectez une liste à un document pour donner le droit d'édition aux utilisateurs concernés.</p>

                    {% from 'main/fragments/_document_userlist_management.html' import document_list %}
                    {{  document_list(docs, user_lists, current_user) }}

                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block scripts %}
   <script src="{{ url_for('app_bp.static', filename='js/jquery.min.js') }}"></script>

   <script type="text/javascript">
       $(document).ready(function () {

            function update_user_messages(ow_data) {
                /*
                    if ow_data is supplied then post a new flash message before displaying it
                    else just display the last incoming flash message
                 */

                function update_msg() {
                    $.ajax({
                        url: "{{ url_for('app_bp.get_flash_messages', last_msg_only='') }}" + "last_msg_only"
                    }).done(function (data) {
                        $('#user-messages').html(data);
                    });
                }

                if (ow_data) {
                    $.ajax({
                       url: "{{ url_for('app_bp.set_flash_messages', last_msg_only='') }}" + "last_msg_only",
                       method: 'POST',
                       contentType: "application/json",
                       data:  JSON.stringify({messages: ow_data}),
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                       }
                    }).done(function(data) {
                        update_msg();
                    });
                }
                else {
                    update_msg();
                }

            }
            
            /*
                
             */
            $("#invite-user").click(function() {
                const new_email = $("#new-user-email").val();
                if (new_email.length > 0) {
                    const csrf_token =  $("#csrf_token").val();
                    let data = new FormData();
                    data.append("email", new_email);
                    data.append("csrf_token", csrf_token);
                    $.ajax({
                            url: "{{ url_for('user.invite_user') }}",
                            method: 'POST',
                            cache: false,
                            contentType: false,
                            processData: false,
                            data:  data,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader (
                                    "Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                            },
                            context: document.body
                        }).done(function (data) {
                            if (data === "OK") {
                                update_user_messages();
                            } else {
                                update_user_messages([{message: "Invitation not sent", category: "is-warning"}]);
                            }
                     });
                }
            });

            function bind_user_selections() {
                $('.user-row').each(function() {
                    $(this).unbind('click');
                    $(this).click(function(){
                            console.log('click', $(this), $(this).hasClass('is-selected'));
                            if ($(this).hasClass('user')) {
                                $('.userlist').removeClass('is-selected');
                            }
                            else {
                                $('.user').removeClass('is-selected');
                            }
                            $(this).toggleClass("is-selected");
                        });

                });
            }

            function populate_userlist_list() {
                 const list_id = $("#select-userlist option:selected").val();
                 $.ajax({
                        url: "{{ url_for('app_bp.dashboard_manage_users_list', list_id='') }}" + list_id,
                        method: 'POST',
                        data: $("#userlist-form").serialize(),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader (
                                "Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                        },
                        context: document.body
                    }).done(function (data) {
                        $("#userlist-table-container").html(data);

                        bind_user_selections();

                        $('#userlist-form .pagination-btn').click(function () {
                            $('#userlist_page').val($(this).text().trim());
                            populate_userlist_list();
                        });
                 });
            }

            function populate_user_list() {
                 const list_id = $("#select-userlist option:selected").val();
                 console.log("populate_userlist");
                 $.ajax({
                        url: "{{ url_for('app_bp.dashboard_manage_users_users', list_id='') }}" + list_id,
                        method: 'POST',
                        data: $("#users-form").serialize(),
                        context: document.body,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader (
                                "Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                        },
                    }).done(function (data) {
                        $("#users-table-container").html(data);

                        bind_user_selections();

                        $('#users-form .pagination-btn').click(function () {
                            $('#user_page').val($(this).text());
                            populate_user_list();
                        });

                    });
            }

            /*
                Populate the user/userlist tables
             */
            $("#select-userlist").change(function() {
                populate_userlist_list();
                populate_user_list();

                const userlist_name = $('#select-userlist option:selected').html();
                $("#modal-selected-userlist-name").html(userlist_name);
            });

            /*
                Default select the last userlist
             */
            $("#select-userlist option:last-child").prop("selected", true).change();

            /*
                Add user to a userlist
             */
            $('#right-arrow').click(function() {
               let emails_to_add_to_userlist = [] ;
               $('.user-row.user.is-selected td:last-child').each(function() {
                   emails_to_add_to_userlist.push($(this).text());
               });
               if (emails_to_add_to_userlist.length > 0) {
                    const whitelist_id = $('#select-userlist option:selected').val();
                    $.ajax({
                       url: "{{ url_for('api_bp.add_user_to_whitelist', api_version='1.0') }}",
                       method: 'POST',
                       contentType: "application/json",
                       data:  JSON.stringify({data: {emails: emails_to_add_to_userlist, whitelist_id: whitelist_id}}),
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                       }
                    }).done(function(data) {
                        console.log("users added to userlist");
                        populate_userlist_list();
                        populate_user_list();
                    });
               }
            });

            /*
                remove user from a userlist
             */
            $('#left-arrow').click(function() {
               let user_ids_to_remove = [] ;
               $('.user-row.userlist.is-selected td:first-child').each(function() {
                   user_ids_to_remove.push($(this).text());
               });
               const whitelist_id = $('#select-userlist option:selected').val();
               for (let user_id of user_ids_to_remove) {
                   let url = "{{ url_for('api_bp.remove_user_from_whitelist', api_version='1.0', user_id='USER_ID_PLACEHOLDER', whitelist_id='WHITELIST_ID_PLACEHOLDER') }}";
                   url = url.replace("USER_ID_PLACEHOLDER", user_id);
                   url = url.replace("WHITELIST_ID_PLACEHOLDER", whitelist_id);
                   $.ajax({
                       url: url,
                       method: 'DELETE',
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                       }
                   }).done(function(data) {
                        console.log("users removed from userlist");
                        populate_userlist_list();
                        populate_user_list();
                   });
               }
            });

            /*
                Add a new userlist
             */
            $('#add-userlist').click(function() {
                const new_userlist_name = $('#new-userlist-name').val();
                if (new_userlist_name.length > 0) {
                    $.ajax({
                       url: "{{ url_for('api_bp.api_post_whitelist', api_version='1.0') }}",
                       method: 'POST',
                       contentType: "application/json",
                       data:  JSON.stringify({data: {whitelist_name: new_userlist_name}}),
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                       }
                    }).done(function(data) {
                        console.log(data);
                        // add the new userlist to the different select inputs
                        const id = data["data"]["id"];
                        const label = data["data"]["label"];
                        $(".select-userlist").append("<option value='"+ id +"'>"+ label +"</option>");
                        $("#select-userlist option:last-child").prop("selected", true).change();
                        // empty the userlist input
                        $('#new-userlist-name').val('');
                    });
                }
            });

            /*
                Delete the selected userlist
             */
            $('#delete-userlist').click(function() {
                /*
                    compute the list of associated docs
                 */
                $('#userlist-bound-docs-list').empty();
                $('#userlist-bound-docs').hide();
                $('#document-list-table option:selected').each(function() {
                    if ($(this).val() === $('#select-userlist option:selected').val()) {
                        let doc_id_label = $(this).closest('tr').find('span:first').html();
                        $('#userlist-bound-docs-list').append(
                          "<li>" + doc_id_label + "</li>"
                        );
                        $('#userlist-bound-docs').show();
                    }
                });
                /*
                    then show the modal form
                 */
                $("#modal-confirm-userlist-delete").toggleClass("is-active");
            });

            $('.close-confirm-userlist-delete').click(function(){
                $("#modal-confirm-userlist-delete").toggleClass("is-active");
            });

            $('#confirm-userlist-delete').click(function() {
                const whitelist_id =  $('#select-userlist option:selected').val();
                let url = "{{ url_for('api_bp.delete_whitelist', api_version='1.0', whitelist_id='WHITELIST_ID_PLACEHOLDER') }}";
                url = url.replace("WHITELIST_ID_PLACEHOLDER", whitelist_id);
                $.ajax({
                    url: url,
                    method: 'DELETE',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                    }
                }).done(function() {
                    /*
                        remove the userlist from select inputs, refetch tables,
                        select the last userlist then finally toggle the modal off
                     */
                    $(".select-userlist option[value='"+whitelist_id+"']").remove();
                    populate_userlist_list();
                    populate_user_list();
                    $("#select-userlist option:last-child").prop("selected", true).change();
                    $("#modal-confirm-userlist-delete").toggleClass("is-active");
                });
            });

            /*
                Change the userlist of a document
            */
            $('#document-list-table .select-userlist').change(function() {
                const doc_id = $(this).closest('tr').find('input[name="doc-id"]').val();
                const userlist_id = $(this).find(':selected').val();

                let url = "{{ url_for('api_bp.api_change_documents_whitelist', api_version='1.0', doc_id='DOC_ID_PLACEHOLDER') }}";
                url = url.replace("DOC_ID_PLACEHOLDER", doc_id);
                $.ajax({
                    url: url,
                    method: 'POST',
                    contentType: "application/json",
                    data:  JSON.stringify({data: {whitelist_id: userlist_id}}),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{auth_token }}:{{auth_token}}"));
                    }
                }).done(function(data) {
                    if (!data.errors) {
                        const new_userlist = data.data.whitelist;
                        console.log(new_userlist);
                    }
                });
            });

       });
   </script>

{% endblock scripts %}