{% extends 'main/base.html' %}

{% block content %}

    <section class="section">
        <div class="container is-fluid">
            <div class="content">
                <h1>Mon tableau de bord</h1>
                <div>
                    <ul>
                        <li><a href="{{url_for('user.edit_user_profile')}}">Mon profil</a></li>
                        <li><a href="{{url_for('app_bp.dashboard_documents')}}">Mes documents</a></li>
                        {% if current_user.is_admin or current_user.is_teacher %}
                        <li><a href="{{url_for('app_bp.dashboard_manage_users')}}">Comptes utilisateurs</a></li>
                        {% endif %}
                        <li><a href="{{url_for('app_bp.dashboard_manual')}}">Mode d'emploi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}