dt, dd {
    float: left;
}
dt {
    font-weight: bold;
}
dt:after {
    content:' : ';
}
dd {
    margin-left: .5em;
}
dd:after {
    content:'';
    display: block;
    float: none;
    clear: both;
}
