.edition-section {
  padding-top: 2rem;
  padding-bottom: 6rem; }

  .iiif-map {
    min-height: 500px;
    background: #333; }

    .navbar-item {
      padding-left: 20px;
      padding-right: 20px; }

      .breadcrumb-arrow {
        padding: 6px; }

        .breadcrumb-index {
          padding-bottom: 12px; }

          #user-menu a {
            width: 220px; }
            #user-menu span {
              margin-right: 10px; }

.message-section {
  margin: 1.1rem 1.5rem; }
  .message-section ul {
    list-style-type: none !important;
    margin: 0 !important; }

#user-messages p .control {
  margin-bottom: 0px; }
#user-messages .message-body {
  padding: 0.4em 1.5em; }

.visibility-tags {
  margin-bottom: 0px !important; }
  .visibility-tags span p {
    padding-right: 6px; }
    .visibility-tags span a {
      padding: 3px; }
      .visibility-tags span a span {
        padding: 3px; }

#commentaries-toc {
  width: 50%;
  margin-bottom: 50px; }
  #commentaries-toc tr:hover {
    cursor: pointer; }

.commentary {
  margin-top: 12px;
  margin-bottom: 24px; }
  .commentary p {
    padding-bottom: 12px;
    border-bottom: 1px solid #dbdbdb; }

.edit-document, .delete-document, .edit-manifest-info, .export-document {
  font-size: medium !important;
  text-decoration: none !important; }
  .edit-document ; p, .delete-document ; p, .edit-manifest-info ; p,
  .export-document ; p {
    margin-left: 6px !important; }

.is-invisible {
  height: 0px; }

  #text-col .edit-document {
    margin: auto;
    margin-right: 14px; }

.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative; }

  .ql-container.ql-disabled .ql-tooltip {
    visibility: hidden; }

    .ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
      pointer-events: none; }

      .ql-clipboard {
        left: -100000px;
        height: 1px;
        overflow-y: hidden;
        position: absolute;
        top: 50%; }

        .ql-clipboard p {
          margin: 0;
          padding: 0; }

          .ql-editor {
            box-sizing: border-box;
            line-height: 1.42;
            height: 100%;
            outline: none;
            overflow-y: auto;
            padding: 12px 15px;
            tab-size: 4;
            -moz-tab-size: 4;
            text-align: left;
            white-space: pre-wrap;
            word-wrap: break-word; }

            .ql-editor > * {
              cursor: text; }

              .ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote,
              .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5,
              .ql-editor h6 {
                margin: 0;
                padding: 0;
                counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; }

                .ql-editor ol, .ql-editor ul {
                  padding-left: 1.5em; }

                  .ql-editor ol > li, .ql-editor ul > li {
                    list-style-type: none; }

                    .ql-editor ul > li::before {
                      content: '•'; }

                      .ql-editor ul[data-checked=true], .ql-editor ul[data-checked=false] {
                        pointer-events: none; }

                        .ql-editor ul[data-checked=true] > li *, .ql-editor ul[data-checked=false] > li * {
                          pointer-events: all; }

                          .ql-editor ul[data-checked=true] > li::before,
                          .ql-editor ul[data-checked=false] > li::before {
                            color: #777;
                            cursor: pointer;
                            pointer-events: all; }

                            .ql-editor ul[data-checked=true] > li::before {
                              content: '☑'; }

                              .ql-editor ul[data-checked=false] > li::before {
                                content: '☐'; }

                                .ql-editor li::before {
                                  display: inline-block;
                                  white-space: nowrap;
                                  width: 1.2em; }

                                  .ql-editor li:not(.ql-direction-rtl)::before {
                                    margin-left: -1.5em;
                                    margin-right: 0.3em;
                                    text-align: right; }

                                    .ql-editor li.ql-direction-rtl::before {
                                      margin-left: 0.3em;
                                      margin-right: -1.5em; }

                                      .ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
                                        padding-left: 1.5em; }

                                        .ql-editor ol li.ql-direction-rtl, .ql-editor ul li.ql-direction-rtl {
                                          padding-right: 1.5em; }

                                          .ql-editor ol li {
                                            counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
                                            counter-increment: list-0; }

                                            .ql-editor ol li:before {
                                              content: counter(list-0, decimal) '. '; }

                                              .ql-editor ol li.ql-indent-1 {
                                                counter-increment: list-1; }

                                                .ql-editor ol li.ql-indent-1:before {
                                                  content: counter(list-1, lower-alpha) '. '; }

                                                  .ql-editor ol li.ql-indent-1 {
                                                    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; }

                                                    .ql-editor ol li.ql-indent-2 {
                                                      counter-increment: list-2; }

                                                      .ql-editor ol li.ql-indent-2:before {
                                                        content: counter(list-2, lower-roman) '. '; }

                                                        .ql-editor ol li.ql-indent-2 {
                                                          counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9; }

                                                          .ql-editor ol li.ql-indent-3 {
                                                            counter-increment: list-3; }

                                                            .ql-editor ol li.ql-indent-3:before {
                                                              content: counter(list-3, decimal) '. '; }

                                                              .ql-editor ol li.ql-indent-3 {
                                                                counter-reset: list-4 list-5 list-6 list-7 list-8 list-9; }

                                                                .ql-editor ol li.ql-indent-4 {
                                                                  counter-increment: list-4; }

                                                                  .ql-editor ol li.ql-indent-4:before {
                                                                    content: counter(list-4, lower-alpha) '. '; }

                                                                    .ql-editor ol li.ql-indent-4 {
                                                                      counter-reset: list-5 list-6 list-7 list-8 list-9; }

                                                                      .ql-editor ol li.ql-indent-5 {
                                                                        counter-increment: list-5; }

                                                                        .ql-editor ol li.ql-indent-5:before {
                                                                          content: counter(list-5, lower-roman) '. '; }

                                                                          .ql-editor ol li.ql-indent-5 {
                                                                            counter-reset: list-6 list-7 list-8 list-9; }

                                                                            .ql-editor ol li.ql-indent-6 {
                                                                              counter-increment: list-6; }

                                                                              .ql-editor ol li.ql-indent-6:before {
                                                                                content: counter(list-6, decimal) '. '; }

                                                                                .ql-editor ol li.ql-indent-6 {
                                                                                  counter-reset: list-7 list-8 list-9; }

                                                                                  .ql-editor ol li.ql-indent-7 {
                                                                                    counter-increment: list-7; }

                                                                                    .ql-editor ol li.ql-indent-7:before {
                                                                                      content: counter(list-7, lower-alpha) '. '; }

                                                                                      .ql-editor ol li.ql-indent-7 {
                                                                                        counter-reset: list-8 list-9; }

                                                                                        .ql-editor ol li.ql-indent-8 {
                                                                                          counter-increment: list-8; }

                                                                                          .ql-editor ol li.ql-indent-8:before {
                                                                                            content: counter(list-8, lower-roman) '. '; }

                                                                                            .ql-editor ol li.ql-indent-8 {
                                                                                              counter-reset: list-9; }

                                                                                              .ql-editor ol li.ql-indent-9 {
                                                                                                counter-increment: list-9; }

                                                                                                .ql-editor ol li.ql-indent-9:before {
                                                                                                  content: counter(list-9, decimal) '. '; }

                                                                                                  .ql-editor .ql-indent-1:not(.ql-direction-rtl) {
                                                                                                    padding-left: 3em; }

                                                                                                    .ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
                                                                                                      padding-left: 4.5em; }

                                                                                                      .ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
                                                                                                        padding-right: 3em; }

                                                                                                        .ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
                                                                                                          padding-right: 4.5em; }

                                                                                                          .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
                                                                                                            padding-left: 6em; }

                                                                                                            .ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
                                                                                                              padding-left: 7.5em; }

                                                                                                              .ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
                                                                                                                padding-right: 6em; }

                                                                                                                .ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
                                                                                                                  padding-right: 7.5em; }

                                                                                                                  .ql-editor .ql-indent-3:not(.ql-direction-rtl) {
                                                                                                                    padding-left: 9em; }

                                                                                                                    .ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
                                                                                                                      padding-left: 10.5em; }

                                                                                                                      .ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
                                                                                                                        padding-right: 9em; }

                                                                                                                        .ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
                                                                                                                          padding-right: 10.5em; }

                                                                                                                          .ql-editor .ql-indent-4:not(.ql-direction-rtl) {
                                                                                                                            padding-left: 12em; }

                                                                                                                            .ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
                                                                                                                              padding-left: 13.5em; }

                                                                                                                              .ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
                                                                                                                                padding-right: 12em; }

                                                                                                                                .ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
                                                                                                                                  padding-right: 13.5em; }

                                                                                                                                  .ql-editor .ql-indent-5:not(.ql-direction-rtl) {
                                                                                                                                    padding-left: 15em; }

                                                                                                                                    .ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
                                                                                                                                      padding-left: 16.5em; }

                                                                                                                                      .ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
                                                                                                                                        padding-right: 15em; }

                                                                                                                                        .ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
                                                                                                                                          padding-right: 16.5em; }

                                                                                                                                          .ql-editor .ql-indent-6:not(.ql-direction-rtl) {
                                                                                                                                            padding-left: 18em; }

                                                                                                                                            .ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
                                                                                                                                              padding-left: 19.5em; }

                                                                                                                                              .ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
                                                                                                                                                padding-right: 18em; }

                                                                                                                                                .ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
                                                                                                                                                  padding-right: 19.5em; }

                                                                                                                                                  .ql-editor .ql-indent-7:not(.ql-direction-rtl) {
                                                                                                                                                    padding-left: 21em; }

                                                                                                                                                    .ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
                                                                                                                                                      padding-left: 22.5em; }

                                                                                                                                                      .ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
                                                                                                                                                        padding-right: 21em; }

                                                                                                                                                        .ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
                                                                                                                                                          padding-right: 22.5em; }

                                                                                                                                                          .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
                                                                                                                                                            padding-left: 24em; }

                                                                                                                                                            .ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
                                                                                                                                                              padding-left: 25.5em; }

                                                                                                                                                              .ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
                                                                                                                                                                padding-right: 24em; }

                                                                                                                                                                .ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
                                                                                                                                                                  padding-right: 25.5em; }

                                                                                                                                                                  .ql-editor .ql-indent-9:not(.ql-direction-rtl) {
                                                                                                                                                                    padding-left: 27em; }

                                                                                                                                                                    .ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
                                                                                                                                                                      padding-left: 28.5em; }

                                                                                                                                                                      .ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
                                                                                                                                                                        padding-right: 27em; }

                                                                                                                                                                        .ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
                                                                                                                                                                          padding-right: 28.5em; }

                                                                                                                                                                          .ql-editor .ql-video {
                                                                                                                                                                            display: block;
                                                                                                                                                                            max-width: 100%; }

                                                                                                                                                                            .ql-editor .ql-video.ql-align-center {
                                                                                                                                                                              margin: 0 auto; }

                                                                                                                                                                              .ql-editor .ql-video.ql-align-right {
                                                                                                                                                                                margin: 0 0 0 auto; }

                                                                                                                                                                                .ql-editor .ql-bg-black {
                                                                                                                                                                                  background-color: #000; }

                                                                                                                                                                                  .ql-editor .ql-bg-red {
                                                                                                                                                                                    background-color: #e60000; }

                                                                                                                                                                                    .ql-editor .ql-bg-orange {
                                                                                                                                                                                      background-color: #f90; }

                                                                                                                                                                                      .ql-editor .ql-bg-yellow {
                                                                                                                                                                                        background-color: #ff0; }

                                                                                                                                                                                        .ql-editor .ql-bg-green {
                                                                                                                                                                                          background-color: #008a00; }

                                                                                                                                                                                          .ql-editor .ql-bg-blue {
                                                                                                                                                                                            background-color: #06c; }

                                                                                                                                                                                            .ql-editor .ql-bg-purple {
                                                                                                                                                                                              background-color: #93f; }

                                                                                                                                                                                              .ql-editor .ql-color-white {
                                                                                                                                                                                                color: #fff; }

                                                                                                                                                                                                .ql-editor .ql-color-red {
                                                                                                                                                                                                  color: #e60000; }

                                                                                                                                                                                                  .ql-editor .ql-color-orange {
                                                                                                                                                                                                    color: #f90; }

                                                                                                                                                                                                    .ql-editor .ql-color-yellow {
                                                                                                                                                                                                      color: #ff0; }

                                                                                                                                                                                                      .ql-editor .ql-color-green {
                                                                                                                                                                                                        color: #008a00; }

                                                                                                                                                                                                        .ql-editor .ql-color-blue {
                                                                                                                                                                                                          color: #06c; }

                                                                                                                                                                                                          .ql-editor .ql-color-purple {
                                                                                                                                                                                                            color: #93f; }

                                                                                                                                                                                                            .ql-editor .ql-font-serif {
                                                                                                                                                                                                              font-family: Georgia, Times New Roman, serif; }

                                                                                                                                                                                                              .ql-editor .ql-font-monospace {
                                                                                                                                                                                                                font-family: Monaco, Courier New, monospace; }

                                                                                                                                                                                                                .ql-editor .ql-size-small {
                                                                                                                                                                                                                  font-size: 0.75em; }

                                                                                                                                                                                                                  .ql-editor .ql-size-large {
                                                                                                                                                                                                                    font-size: 1.5em; }

                                                                                                                                                                                                                    .ql-editor .ql-size-huge {
                                                                                                                                                                                                                      font-size: 2.5em; }

                                                                                                                                                                                                                      .ql-editor .ql-direction-rtl {
                                                                                                                                                                                                                        direction: rtl;
                                                                                                                                                                                                                        text-align: inherit; }

                                                                                                                                                                                                                        .ql-editor .ql-align-center {
                                                                                                                                                                                                                          text-align: center; }

                                                                                                                                                                                                                          .ql-editor .ql-align-justify {
                                                                                                                                                                                                                            text-align: justify; }

                                                                                                                                                                                                                            .ql-editor .ql-align-right {
                                                                                                                                                                                                                              text-align: right; }

                                                                                                                                                                                                                              .ql-editor.ql-blank::before {
                                                                                                                                                                                                                                color: rgba(0, 0, 0, 0.6);
                                                                                                                                                                                                                                content: attr(data-placeholder);
                                                                                                                                                                                                                                font-style: italic;
                                                                                                                                                                                                                                left: 15px;
                                                                                                                                                                                                                                pointer-events: none;
                                                                                                                                                                                                                                position: absolute;
                                                                                                                                                                                                                                right: 15px; }

                                                                                                                                                                                                                                .editor-controls svg {
                                                                                                                                                                                                                                  height: 100%; }
                                                                                                                                                                                                                                  .editor-controls .ql-stroke {
                                                                                                                                                                                                                                    stroke: #000;
                                                                                                                                                                                                                                    stroke-width: 1.5px;
                                                                                                                                                                                                                                    fill: none; }
                                                                                                                                                                                                                                    .editor-controls .ql-path {
                                                                                                                                                                                                                                      stroke: #000; }
                                                                                                                                                                                                                                      .editor-controls .ql-fill {
                                                                                                                                                                                                                                        fill: #000; }
                                                                                                                                                                                                                                        .editor-controls .selected .ql-stroke {
                                                                                                                                                                                                                                          stroke: #209cee; }
                                                                                                                                                                                                                                          .editor-controls .selected .ql-path {
                                                                                                                                                                                                                                            stroke: #209cee; }
                                                                                                                                                                                                                                            .editor-controls .selected .ql-fill {
                                                                                                                                                                                                                                              fill: #209cee; }

* {
  box-sizing: border-box; }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }

    .modal {
      z-index: 1001; }

      .wrapper {
        position: relative; }

        .quill-editor {
          font-family: 'Open Sans', Helvetica, sans-serif;
          font-size: 1em;
          margin: 0 auto;
          width: 100%;
          border: 1px solid #eee;
          max-height: 80vh;
          overflow: scroll; }

          .editor-controls {
            display: flex;
            flex-wrap: wrap; }
            .editor-controls hr {
              margin: 0.5em 0; }
              .editor-controls button {
                font-weight: bold;
                margin: 0.125em 0; }
                .editor-controls button:active, .editor-controls button:focus {
                  outline: none; }

.editor-controls-group {
  margin-right: 2em;
  margin-bottom: 0.5em; }
  .editor-controls-group:last-child {
    margin-right: 0; }
    .editor-controls-group label {
      display: block;
      font-size: 60%;
      font-variant: small-caps; }
      .editor-controls-group .button {
        padding-bottom: calc(.5em - 1px);
        padding-top: calc(.5em - 1px); }

.editor-container {
  position: relative; }

  #editor-container .ql-editor {
    min-height: 100%;
    height: inherit;
    overflow-y: inherit; }
    #editor-container .ql-editor > * {
      margin-top: 1.5em; }
      #editor-container .ql-editor > *:last-child {
        margin-bottom: 50px; }

.ql-editor {
  line-height: 1.8;
  counter-reset: segment-count 1; }
  .ql-editor:focus {
    outline: none; }
    .ql-editor p {
      margin: 0.75em 0; }
      .ql-editor ul {
        padding-left: 2em; }
        .ql-editor li {
          list-style: disc outside; }
          .ql-editor blockquote {
            padding-left: 1em;
            border-left: #cccccc solid 1px; }
            .ql-editor section {
              border: 1px dotted #cccccc; }

.ql-clipboard {
  display: none; }

  abbr, ex {
    color: #999; }
    abbr:hover, ex:hover {
      color: #000; }

smallcaps {
  font-variant: small-caps; }

  speechpart {
    border-bottom: 2px solid; }
    speechpart:nth-child(8n) {
      border-color: #d6cbd3; }
      speechpart:nth-child(8n+1) {
        border-color: #eca1a6; }
        speechpart:nth-child(8n+2) {
          border-color: #bdcebe; }
          speechpart:nth-child(8n+3) {
            border-color: #ada397; }
            speechpart:nth-child(8n+4) {
              border-color: #f7cac9; }
              speechpart:nth-child(8n+5) {
                border-color: #dac292; }
                speechpart:nth-child(8n+6) {
                  border-color: #b5e7a0; }
                  speechpart:nth-child(8n+7) {
                    border-color: #b9936c; }
                    speechpart.unselected {
                      border: none;
                      background-color: inherit; }

zone {
  border-bottom: 2px solid; }
  zone:nth-child(2n) {
    border-color: #b5e7a0; }
    zone:nth-child(2n+1) {
      border-color: #eca1a6; }
      zone.unselected {
        border: none;
        background-color: inherit; }

cb {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #bbb url(/adele/static/images/columns-break.svg) no-repeat 50% 50%;
  background-size: 16px 16px;
  vertical-align: middle;
  border-radius: 4px; }

  persname, placename, cite, note {
    display: inline;
    padding: 0.25em 0.25em 0.25em 1.25em;
    border-radius: 5px;
    background: transparent no-repeat 0.25em center;
    background-size: 12px 12px; }

    persname {
      background-color: rgba(45, 112, 223, 0.15);
      background-image: url(/adele/static/images/ico-person.svg); }

      placename {
        background-color: rgba(35, 209, 96, 0.15);
        background-image: url(/adele/static/images/ico-location.svg); }

        note {
          background-color: rgba(147, 87, 169, 0.15);
          background-image: url(/adele/static/images/ico-note.svg); }

          cite {
            background-color: rgba(255, 221, 73, 0.15);
            background-image: url(/adele/static/images/ico-cite.svg); }

            #speech-parts-toc {
              margin-bottom: 20px; }

              .ql-editor {
                counter-reset: segment-count 0; }
                .ql-editor segment {
                  display: inline-block; }
                  .ql-editor p:before, .ql-editor l:before, .ql-editor .segment-bullet:before,
                  .ql-editor segment:before {
                    display: inline-block; }
                .ql-editor span.br {
                  display: block; }

#transcription-editor segment:before, #transcription-editor p:before,
#transcription-editor l:before, #transcription-editor .segment-bullet:before,
#translation-editor segment:before, #translation-editor p:before,
#translation-editor l:before, #translation-editor .segment-bullet:before {
  background: cornflowerblue;
  border-radius: 50%;
  color: #fff;
  counter-increment: segment-count;
  content: counter(segment-count);
  font-size: 70%;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 0.8;
  text-align: center;
  padding-top: 0.7em; }
#transcription-editor segment:before, #translation-editor segment:before {
  margin: 0 0.5em; }
  #transcription-editor p:before, #transcription-editor l:before,
  #transcription-editor .segment-bullet:before, #translation-editor p:before,
  #translation-editor l:before, #translation-editor .segment-bullet:before {
    margin: 0 0.5em 0 0; }

l {
  font-family: Georgia, Times New Roman, serif; }

  .in-editor-actions, .note-actions, .speechpart-actions, .new-speechpart-actions {
    z-index: 1000;
    position: absolute;
    transform: translateX(-50%);
    background: #fff;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 5px; }
    .in-editor-actions::before, .note-actions::before, .speechpart-actions::before,
    .new-speechpart-actions::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateX(-50%);
      background: #fff;
      z-index: -1; }

.note-actions .button, .new-note-actions .button, .speechpart-actions .button,
.new-speechpart-actions .button {
  width: 100%; }

.notes-list-item, .list-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 0.75rem;
  border: 1px solid transparent; }
  .notes-list-item .content, .list-item .content {
    font-size: 60%; }
    .notes-list-item.selected, .notes-list-item:hover, .notes-list-item:focus,
    .list-item.selected, .list-item:hover, .list-item:focus {
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #23d160;
      border-color: #23d160; }
      .notes-list-item:not(:last-child), .list-item:not(:last-child) {
        margin-bottom: 0.75rem; }

.list-subsection-title {
  margin: 2em 0 1em 0;
  font-weight: bold; }

  .select, select {
    transition: all 3s; }

    .field-multiselect .add-item .fa-plus {
      color: #fff; }
      .field-multiselect .add-item .fa-circle {
        color: #dbdbdb; }
        .field-multiselect .add-item:hover .fa-circle {
          color: #7a7a7a;
          fill: #7a7a7a; }
    .field-multiselect .unselected-item {
      background-color: #fff;
      color: #4a4a4a;
      display: block;
      padding: 0.5rem;
      font-size: 0.8em;
      border: 2px solid transparent; }
      .field-multiselect .unselected-item .content {
        font-size: 60%; }
        .field-multiselect .unselected-item.selected,
        .field-multiselect .unselected-item:hover,
        .field-multiselect .unselected-item:focus {
          border-color: #23d160; }
          .field-multiselect .unselected-item:not(:last-child) {
            margin-bottom: 0.75rem; }
    .field-multiselect .box {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: content-box;
      max-height: 195px;
      overflow: auto;
      z-index: 1; }
      .field-multiselect .multiselect-actions {
        position: relative; }

.save-button {
  transition: all 0.25s; }

  .thumbnail-container {
    width: auto; }

    .empty-thumbnail {
      height: 250px;
      font-size: 60px;
      text-align: center;
      padding-top: 90px; }

      .empty-image {
        height: 600px;
        padding-top: 32%; }

        .image-count {
          text-align: center; }

          .thumbnail img {
            margin: auto;
            padding: 16px;
            width: auto; }

            .columns {
              margin-top: 0px; }

              .nav-pages {
                margin-bottom: 12px; }
                .nav-pages li + li {
                  margin-top: 0; }
                  .nav-pages ul {
                    margin: 0; }
                    .nav-pages .pagination-list {
                      justify-content: center; }

.find-btn-group {
  margin-top: 30px; }

  #tag-cloud {
    margin-bottom: 20px;
    margin-top: 20px; }

    #find-col {
      padding-right: 0px;
      background-color: #eee;
      user-select: none; }

      #find-col .level:not(:last-child) {
        margin-bottom: 0px; }

        #find-col .section {
          padding-left: 0px;
          padding-right: 0px; }

          .field.is-grouped {
            display: block; }

            #find-col .accordion {
              background-color: #eee;
              color: #444;
              cursor: pointer;
              padding: 18px;
              width: 100%;
              text-align: left;
              border: none;
              outline: none;
              transition: 0.4s; }

              #find-col .active, .accordion:hover {
                background-color: #ccc; }

                #find-col .panel {
                  padding: 0;
                  background-color: whitesmoke;
                  display: none;
                  overflow: hidden; }

                  #find-col .panel:not(:last-child) {
                    margin-bottom: 0px; }

                    #find-col .panel-item {
                      padding: 12px 12px 12px 24px; }

                      #find-col li {
                        color: #7a7a7a;
                        cursor: pointer; }

                        #find-col li:hover {
                          background-color: #ff3860;
                          color: whitesmoke; }

                          .dot {
                            height: 12px;
                            width: 12px;
                            background-color: #ff3860;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 18px; }

                            .white-dot {
                              height: 12px;
                              width: 12px;
                              background-color: #eee;
                              border-radius: 50%;
                              display: inline-block;
                              margin-right: 18px; }

                              #document-list {
                                margin: auto;
                                width: 95%; }
                                #document-list img {
                                  padding-left: 0px; }
                                  #document-list .thumbnail-container {
                                    left: 0px;
                                    width: 150px; }

.content figure {
  margin-left: 0px; }

  .view-container {
    margin: auto;
    width: 90%; }

    .note-placeholder:hover {
      cursor: pointer; }

      .note-content {
        display: none;
        font-weight: bold; }

        .help {
          font-size: 1em; }

          .login-form {
            margin: auto;
            margin-top: 120px; }

            .login-form .message {
              width: 700px;
              margin: auto; }

              .login-form .message-body {
                width: 460px;
                margin: auto; }

                .register-form {
                  margin: auto;
                  margin-top: 120px; }

                  .register-form .message {
                    width: 800px;
                    margin: auto; }

                    .register-form .message-body {
                      width: 700px;
                      margin: auto; }

                      .register-form .message-body input {
                        width: 400px; }

                        .register-form .message-body .submit {
                          width: initial; }

                          .column {
                            padding-bottom: 0.25em; }

                            .submit-group {
                              margin-top: 18px; }

                              .submit {
                                margin-top: 12px;
                                margin-bottom: 12px; }

                                #user-management {
                                  margin-top: 32px; }
                                  #user-management .user-messages {
                                    height: 30px;
                                    margin-left: 12px; }
                                    #user-management #empty-tile {
                                      height: 170px; }
                                      #user-management .arrow-btn {
                                        width: 40px !important;
                                        height: 60px !important;
                                        margin-left: 43% !important; }
                                        #user-management #field-add-userlist {
                                          margin-left: 20px; }
                                          #user-management .delete-btn {
                                            margin-top: 12px; }
                                            #user-management .user-row:hover {
                                              cursor: pointer; }
                                              #user-management .field:not(:last-child) {
                                                margin-bottom: 0; }

#document-list-table {
  margin-top: 32px; }
  #document-list-table .fa-sort-down {
    margin-left: 8px;
    margin-bottom: 2px; }
    #document-list-table .fa-sort-up {
      margin-left: 8px;
      margin-bottom: -5px; }
      #document-list-table th:hover {
        cursor: pointer; }
        #document-list-table td {
          vertical-align: middle; }
          #document-list-table .checkbox {
            margin: 30% !important;
            top: 3px; }
            #document-list-table .date-picker {
              width: 180px; }
              #document-list-table .edit-manifest-info {
                margin-right: 20px; }

#add-document-form {
  width: 100%; }
  #add-document-form input {
    width: 420px; }
    #add-document-form #import-manifest {
      width: 250px;
      margin-top: 0px; }

#modal-manifest-validation .modal-card {
  width: 50%;
  min-height: 600px; }
  #modal-manifest-validation #manifest-url,
  #modal-manifest-validation #input-manifest-filename {
    width: 480px; }
    #modal-manifest-validation .info, #modal-manifest-validation .map,
    #modal-manifest-validation .errors {
      margin-top: 30px;
      margin-bottom: 30px; }
      #modal-manifest-validation #manifest-preview {
        width: 300px;
        margin: auto; }
        #modal-manifest-validation #manifest-preview p {
          text-align: center; }

.loading-overlay {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  .loading-overlay.is-active {
    display: flex; }
    .loading-overlay.is-full-page {
      position: fixed; }
      .loading-overlay.is-full-page .loading-icon:after {
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        width: 5em;
        height: 5em; }
  .loading-overlay .loading-background {
    background: #7f7f7f;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .loading-overlay .loading-icon {
      position: relative; }
      .loading-overlay .loading-icon:after {
        position: absolute;
        top: calc(50% - 1.5em);
        left: calc(50% - 1.5em);
        width: 3em;
        height: 3em;
        animation: spinAround 0.5s infinite linear;
        border: 2px solid #209cee;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: '';
        display: block;
        position: relative; }

.save-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0 2em 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: 1; }

  .save-bar__container {
    max-width: 33.33%; }

    .save-bar__message, .save-bar__working, .save-bar__error {
      border-color: transparent; }

      .fade-enter-active {
        transition: opacity 0.5s ease; }

        .fade-leave-active {
          transition: opacity 0.5s ease; }

          .fade-enter, .fade-leave-to {
            opacity: 0; }

            .slideup-enter-active {
              transition: transform 0.5s ease; }

              .slideup-leave-active {
                transition: transform 0.5s ease; }

                .slideup-enter, .slideup-leave-to {
                  transform: translateY(100%); }
