{% extends 'admin/base.html' %}

{% block content %}

    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Adele</h1>
          <h2 class="subtitle">Album de diplomatique en ligne</h2>
        </div>
      </div>
    </section>

    <section class="section">
        <div class="container is-fullhd">
            <div class="columns is-multiline">
                {% for d in docs %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://193.48.42.68/loris/adele/dossiers/{{ d.id }}.jpg/full/432,/0/default.jpg"
                                     width="180px" height="180px"
                                />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p><span class="tag is-light">Dossier {{ d.id }}</span></p>
                                <p class="title is-6">{{ d.title }}</p>
                                <p><small>{{ d.subtitle }}</small></p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for("app_bp.admin_document_edit", doc_id=d.id) }}" class="card-footer-item">Editer</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}