{% extends 'admin/base.html' %}

{% macro nav_pages(nav_urls, current_page) %}
    <div class="level nav-pages">
        <div class="level-left">
            <p>Pages :</p>
            <ul class="level">
                {% for url in nav_urls %}
                    <li class="level-item">
                        <a class="button {% if loop.index != current_page %} is-white {% else %} is-light {% endif %}"
                           href="{{ url }}">
                            {{ loop.index }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter">
            <section class="section">
                <form method="POST" action="{{ url_for('app_bp.documents') }}">
                    {% for field in fields %}
                        <div class="field">
                            <label class="label" for="{{ field['label'] }}">{{ field['label'] }} : </label>
                            <div class="control">
                                {% if field['type'] == 'select' %}
                                    <div class="select {% if field['options']['multiple'] %} is-multiple {% endif %}">
                                        <select name="{{ field['name'] }}"
                                                {% if field['options']['multiple'] %}
                                                multiple
                                                size="{{ field['options']['size'] }}"
                                                {% endif %} >
                                            <option value="-1"
                                                    {% if selected_values[field['name']]|length == 0 or '-1' in selected_values[field['name']] %}selected="selected"{% endif %}>
                                                Tous
                                            </option>
                                            {% for value,label in field['value'] %}
                                                <option value="{{ value }}"
                                                        {% if value|string in selected_values[field['name']] %}selected="selected"{% endif %}>
                                                    {{ label }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="field ">
                        <div class="control">
                            <input type="submit" class="button is-light" value="Chercher"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div class="column">
            <section class="section">
                {{ nav_pages(nav_urls, current_page) }}
                <div class="columns is-multiline">
                    {% for d in docs %}
                        <div class="column is-half">
                            <div class="card">
                                {% for img in d.images %}
                                    <div class="thumbnail-container has-background-grey-lighter">
                                        <figure class=" image thumbnail">
                                            <img src="{{ img.id | replace("full/full", "full/,250") }}"/>
                                        </figure>
                                    </div>
                                {% endfor %}
                                <div class="card-content">
                                    <div class="content">
                                        <p><span class="tag is-light">Dossier {{ d.id }}</span></p>
                                        <p class="title is-6">{{ d.title }}</p>
                                        <p>
                                            <small>{{ d.subtitle }}</small>
                                        </p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="{{ url_for("app_bp.admin_document_edit", doc_id=d.id) }}"
                                       class="card-footer-item">Editer</a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ nav_pages(nav_urls, current_page) }}
            </section>
        </div>
    </div>

{% endblock content %}