{% extends 'admin/base.html' %}

{% block content %}

    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Adele</h1>
          <h2 class="subtitle">Album de diplomatique en ligne</h2>
        </div>
      </div>
    </section>

    <section class="section">
        <h1>{{ doc.title }} ({{ doc.id }})</h1>

        <div id="app" data-doc-id="{{ doc.doc_id }}"></div>

    </section>
{% endblock content %}



{% block scripts %}
    <script src="/static/js/build.js"></script>
{% endblock %}