{% macro document_list(docs, whitelists, current_user) -%}
    <div id="document-list">
        <table id="document-list-table" class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Document</th>
                <th>Titre</th>
                <th>Liste d'utilisateurs</th>
            </tr>
            </thead>

            {% for d in docs %}
                <tr>
                    <td>
                        <input type="hidden" value="{{ url_for("app_bp.document_edit", doc_id=d.id) }}"/>
                        <span class="tag is-light">Dossier {{ d.id }}</span>
                        <input type="hidden" name="doc-id" value="{{ d.id }}"/>
                        {% for img in d.images %}
                            <div class="thumbnail-container has-background-grey-lighter">
                                <figure class=" thumbnail">
                                    <img src="{{ img.url | replace("full/full", "full/,40") }}"/>
                                </figure>
                            </div>
                        {% endfor %}
                        <div class="is-invisible sort-criteria">{{ d.id }}</div>
                    </td>
                    <td>
                        <p class="title is-6">{{ d.title }}</p>
                        <p>
                            <small>{{ d.subtitle }}</small>
                        </p>
                        <div class="is-invisible sort-criteria">{{ d.title }}</div>
                    </td>
                    <td>
                        <p class="control">
                            <div class="select">
                                <select class="select-userlist">
                                    {% for whitelist in whitelists %}
                                    <option value="{{whitelist.id}}"
                                            {%- if d.whitelist and d.whitelist.id == whitelist.id %}
                                            selected {% endif -%}>
                                        {{ whitelist.label }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'main/fragments/_sort_table_script.html' %}
{%- endmacro %}

