{% macro document_list(docs) -%}
    <div id="document-list">
        <table id="document-list-table" class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Document</th>
                <th>Titre</th>
            </tr>
            </thead>
            <tbody>
            {% for d in docs %}
                <tr>
                    <td>
                        <input type="hidden" value="{{ url_for("app_bp.document_edit", doc_id=d.id) }}"/>
                        <span class="tag is-light">Dossier {{ d.id }}</span>
                        {% for img in d.images %}
                            <div class="thumbnail-container has-background-grey-lighter">
                                <figure class=" thumbnail">
                                    <img src="{{ img.image_url | replace("full/full", "full/,40") }}"/>
                                </figure>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="content">
                            <p class="title is-6">{{ d.title }}</p>
                            <p>
                                <small>{{ d.subtitle }}</small>
                            </p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#document-list tr").click(function () {
                const target = $(this).find("input");
                if (target.length > 0) {
                    window.location.href = $(target).val();
                }
            });


            $('#document-list-table th:nth-child(1)').click(function() {
               sortTable(0);
            });

            $('#document-list-table th:nth-child(2)').click(function() {
               sortTable(1);
            });
        });
    </script>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("document-list-table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            console.log("hello");
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{%- endmacro %}

