{% macro document_list(docs, current_user) -%}
    <div id="document-list">
        <table id="document-list-table" class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Document</th>
                <th>Titre</th>
                <th>Date limite de modification</th>
                <th>Publié</th>
                <!-- edit button -->
                <th></th>
                <!-- delete button -->
                {% if current_user.is_admin or current_user.is_teacher %}<th></th>{% endif %}
            </tr>
            </thead>

            {% for d in docs %}
                <tr>
                    <td>
                        <input type="hidden" value="{{ url_for("app_bp.document_edit", doc_id=d.id) }}"/>
                        <span class="tag is-light">Dossier {{ d.id }}</span>
                        {% for img in d.images %}
                            <div class="thumbnail-container has-background-grey-lighter">
                                <figure class=" thumbnail">
                                    <img src="{{ img.url | replace("full/full", "full/,40") }}"/>
                                </figure>
                            </div>
                        {% endfor %}
                        <div class="is-invisible sort-criteria">{{ d.id }}</div>
                    </td>
                    <td>
                        <p class="title is-6">{{ d.title }}</p>
                        <p>
                            <small>{{ d.subtitle }}</small>
                        </p>
                        <div class="is-invisible sort-criteria">{{ d.title }}</div>
                    </td>
                     <td>
                        <input type="text" class="date-picker sort-criteria"
                         {% if d.date_closing %}
                            value="{{ date_closing }}"
                         {% endif %}
                         {% if not (current_user.is_admin or current_user.is_teacher) %} disabled {% endif %}/>
                        <div class="is-invisible sort-criteria">{{ date_closing }}</div>

                    </td>
                    <td>
                        <label class="checkbox">
                          <input type="checkbox" class="sort-criteria" value="{{ d.is_published }}"
                            {% if not (current_user.is_admin or current_user.is_teacher) %} disabled {% endif %}>
                        </label>
                        <div class="is-invisible sort-criteria">{{ d.is_published }}</div>
                    </td>
                    <td><i class="fas fa-edit" style="margin-left: 4px"></i></td>
                    {% if current_user.is_admin or current_user.is_teacher %}
                    <td><i class="fas fa-trash-alt" style="color: #c60000; margin-left: 4px"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'main/fragments/_sort_table_script.html' %}
{%- endmacro %}

