{% macro document_list(docs) -%}
    <div id="document-list">
        <table id="document-list-table" class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Document</th>
                <th>Titre</th>
            </tr>
            </thead>
            <tbody>
            {% for d in docs %}
                <tr>
                    <td>
                        <input type="hidden" value="{{ url_for("app_bp.document_edit", doc_id=d.id) }}"/>
                        <span class="tag is-light">Dossier {{ d.id }}</span>
                        {% for img in d.images %}
                            <div class="thumbnail-container has-background-grey-lighter">
                                <figure class=" thumbnail">
                                    <img src="{{ img.url | replace("full/full", "full/,40") }}"/>
                                </figure>
                            </div>
                        {% endfor %}
                        <div class="is-invisible sort-criteria">{{ d.id }}</div>
                    </td>
                    <td>
                        <div class="content">
                            <p class="title is-6">{{ d.title }}</p>
                            <p>
                                <small>{{ d.subtitle }}</small>
                            </p>
                        </div>
                        <div class="is-invisible sort-criteria">{{ d.title }}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#document-list tr").click(function () {
                const target = $(this).find("input");
                if (target.length > 0) {
                    window.location.href = $(target).val();
                }
            });

            $('#document-list-table th:nth-child(1)').click(function() {
               sortTable("document-list-table", 0);
            });

            $('#document-list-table th:nth-child(2)').click(function() {
               sortTable("document-list-table", 1);
            });
        });
    </script>

    {% include 'main/fragments/_sort_table_script.html' %}
{%- endmacro %}

