    <div id="modal-manifest-validation" class="modal">
        <div class="modal-background close-modal-manifest-validation"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Document <span id="manifest-validation-doc-id"></span> : choix du manifeste IIIF</p>
                <button class="delete close-modal-manifest-validation" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
                <div class="tabs is-medium">
                    <ul>
                        <li><a><i class="fas fa-link" style="margin-right: 12px"></i>URL</a></li>
                        <li class="is-invisible"><a><i class="fas fa-upload" style="margin-right: 12px"></i>Fichier</a></li>
                    </ul>
                </div>

                <p>
                    Vérifier la structure du manifeste IIIF permet de s'assurer de sa compatibilité avec Adele.
                    <br>
                    La validation repose sur l'appel à l'API <a href="https://iiif.io/api/presentation/validator/service/">Presentation API Validator</a>
                </p>
                <br>

                <input type="hidden" id="manifest-of-doc-id" value=""/>

                <div class="tab" id="tab-url">
                    <div class="field">
                        <label class="label">URL du manifeste à valider</label>
                        <div class="field has-addons">
                          <div class="control">
                             <input id="manifest-url" class="input manifest-url" type="text" placeholder="http://web.com/my-manifest.json"/>
                          </div>
                          <div class="control">
                            <a id="validate-manifest-url" class="button is-info">
                              Valider
                            </a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="tab" id="tab-upload-file">
                   <div class="file has-name is-info">
                      <label class="file-label">
                        <input id="input-manifest-filename" class="file-input" type="file" name="resume">
                        <span class="file-cta">
                          <span class="file-icon "><i class="fas fa-upload"></i></span>
                          <span id="validate-manifest-url" class="file-label manifest-url">
                            Choisir un fichier
                          </span>
                        </span>
                        <span id="manifest-filename" class="file-name">
                          Screen Shot 2017-07-29 at 15.54.25.png
                        </span>
                      </label>
                    </div>
                </div>

                <div id="result">
                    <div id="manifest-validation-errors" class="errors"></div>
                    <div id="manifest-validation-map" class="map"></div>
                    <div id="manifest-validation-info" class="info"></div>
                </div>
            </section>

            <footer class="modal-card-foot">
                <button id="confirm-manifest-validation" class="button is-primary" disabled>Choisir ce manifeste</button>
                <button class="button close-modal-manifest-validation">Annuler</button>
            </footer>
        </div>
    </div>
