
{% from 'main/fragments/_pagination.html' import nav_pages %}
<form method="POST"  id='users-form'>
    {{ nav_pages(nav_uri, current_user_page) }}
    <input type="hidden" name="user_page" id="user_page" value="{{ current_user_page }}"/>
    <table class="table is-hoverable">
        <thead>
            <th style="display: none"></th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% if users %}
                {% for user in users %}
                    <tr class="user-row user">
                        <td style="display: none">{{user.id}}</td>
                        <td>{% if user.last_name %}{{user.last_name}}{%else%} - {% endif %}</td>
                        <td>{% if user.last_name %}{{user.first_name}}{%else%} - {% endif %}</td>
                        <td>{{user.email}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</form>