<table class="table is-hoverable">
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
    </thead>
    <tbody>
        {% if user_list  %}
            {% for user in user_list.users %}
                <tr>
                    <td>{% if user.last_name %}{{user.last_name}}{%else%} - {% endif %}</td>
                    <td>{% if user.last_name %}{{user.first_name}}{%else%} - {% endif %}</td>
                    <td>{{user.email}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>