
{% from 'main/fragments/_pagination.html' import nav_pages %}
<form method="POST"  id='userlist-form'>
    {{ nav_pages(nav_uri, current_userlist_page) }}
    <input type="hidden" name="userlist_page" id="userlist_page" value="{{ current_userlist_page }}"/>
    <table class="table is-hoverable">
    <thead>
        <th style="display: none"></th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
    </thead>
    <tbody>
        {% if users  %}
            {% for user in users %}
                <tr class="user-row userlist">
                    <td class="user-id" style="display: none">{{user.id}}</td>
                    <td>{% if user.last_name %}{{user.last_name}}{%else%} - {% endif %}</td>
                    <td>{% if user.last_name %}{{user.first_name}}{%else%} - {% endif %}</td>
                    <td>{{user.email}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
</form>