
{% macro nav_pages(nav_uri, current_page) %}

<nav class="pagination nav-pages" role="navigation" aria-label="pagination">
{% if nav_uri|length > 1 %}
  <ul class="pagination-list">

    {% for url in nav_uri %}
        <li class="level-item">
            <a class="pagination-btn pagination-link {% if loop.index == current_page %} is-current {% endif %}"
               aria-label="Aller à la page {{ loop.index }}">
                {{ loop.index }}
            </a>
        </li>
    {% endfor %}

  </ul>
  {% else %}
    <div style="width: 20px;height:44px"></div>
    {% endif %}
</nav>


{% endmacro %}


