{% macro nav_pages(nav_uri, current_page) %}
    <div class="nav-pages">
            {% if nav_uri | length > 1 %}
                <ul class="level">
                    {% for url in nav_uri %}
                        <li class="level-item">
                            <div class="pagination-btn button {% if loop.index != current_page %} is-white {% else %} is-light {% endif %}">
                                {{ loop.index }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>
{% endmacro %}


<section class="section">
    {% if nb_total > 0 and filtered %}
        <div class="is-size-6">
            {% if nb_total == 1 %}
                <h1>{{ nb_total }} document trouvé.</h1>
            {% else %}
                <h1>{{ nb_total }} documents trouvés.</h1>
            {% endif %}
        </div>
    {% endif %}
    <div id="tag-cloud" class="field is-grouped is-grouped-multiline"></div>
    {% if nb_total == 0 %}
        <div>
            <article class="message is-info">
                <div class="message-body">
                    <div class="alert alert-info" role="alert">Aucun résultat</div>
                </div>
            </article>
        </div>
    {% else %}
        {{ nav_pages(nav_uri, current_page) }}
        <div class="columns is-multiline">

            {% if docs | length >= 10 %}
                {% set col_fmt = 3 %}
            {% elif docs | length > 1 %}
                {% set col_fmt = 2 %}
            {% else %}
                {% set col_fmt = 1 %}
            {% endif %}

            {% for d in docs %}
                <div class="column {% if col_fmt == 3 %}is-one-third{% elif col_fmt == 2 %}is-half{% endif %}">
                    <div class="card">
                        {% for img in d.images %}
                            <div class="thumbnail-container has-background-grey-lighter">
                                <figure class=" image thumbnail">
                                    {% if col_fmt == 3 %}
                                        <img src="{{ img.id | replace("full/full", "full/,200") }}"/>
                                    {% elif col_fmt == 2 %}
                                        <img src="{{ img.id | replace("full/full", "full/,300") }}"/>
                                    {% else %}
                                        <img src="{{ img.id | replace("full/full", "full/,500") }}"/>
                                    {% endif %}
                                </figure>
                            </div>
                        {% endfor %}
                        <div class="card-content">
                            <div class="content">
                                <p><span class="tag is-light">Dossier {{ d.id }}</span></p>
                                <p class="title is-6">{{ d.title }}</p>
                                <p>
                                    <small>{{ d.subtitle }}</small>
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ url_for("app_bp.admin_document_edit", doc_id=d.id) }}"
                               class="card-footer-item">Editer</a>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ nav_pages(nav_uri, current_page) }}
    {% endif %}
</section>