{% extends 'base.html' %}

{% block title %}
    <title>Alignment</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <table class="table is-striped is-fullwidth">
            <th>Transcription</th>
            <th>Traduction </th>
        {% for al in alignment %}
            <tr>
                <td>{{ al.transcription }}</td>
                <td>{{ al.translation }}</td>
            </tr>
        {%  endfor %}
        </table>
    </div>
{% endblock content %}

